<div [ngSwitch]="itemTitle">
  <app-accordion-example *ngSwitchCase="'Accordion'" [title]="'Accordion'"></app-accordion-example>
  <app-accordion-example *ngSwitchCase="'Accordion - Flush'" [title]="'Accordion - Flush'"></app-accordion-example>
  <app-accordion-example *ngSwitchCase="'Accordion - Flush (fhi)'" [title]="'Accordion - Flush (fhi)'"></app-accordion-example>
  <app-alert-dismissible-example *ngSwitchCase="'Alert - dismissible'"></app-alert-dismissible-example>
  <app-modal-example *ngSwitchCase="'Modal'"></app-modal-example>
  <app-toast-example *ngSwitchCase="'Toast'"></app-toast-example>
  <app-tooltip-example *ngSwitchCase="'Tooltip'"></app-tooltip-example>
  <div *ngSwitchDefault>No component matches that title...</div>
</div>
