<fhi-modal [modalTitle]="'Overskrift som er veldig lang er alltid et problem'" [size]="'sm'">
  <ng-container fhi-modal.button>Åpne lite modalvindu</ng-container>
  <ng-container fhi-modal.body><p>Modalvindu innhold.</p></ng-container>
</fhi-modal>
<br />
<fhi-modal [modalTitle]="'Overskrift'" [actionButtons]="actionButtons" (modalAction)="onModalAction($event)">
  <ng-container fhi-modal.button>Åpne standard modalvindu</ng-container>
  <ng-container fhi-modal.body>
    <pre><code>&#64;Input() actionButtons: ActionButton[] = {{ actionButtons | json }};</code></pre>
  </ng-container>
</fhi-modal>
<br />
<fhi-modal [modalTitle]="'Overskrift'" [size]="'fullscreen'">
  <ng-container fhi-modal.button>Åpne fullskjerm modalvindu</ng-container>
  <ng-container fhi-modal.body>
    <p>Modalvindu innhold.</p>
  </ng-container>
</fhi-modal>
