.fhi-ngb {
    [ngbDatepickerDayView] {
        border-radius: 50%;
        color: $body-color;
        height: $fhi-daypicker-day-height-and-width;
        width: $fhi-daypicker-day-height-and-width;
        line-height: $fhi-px * 40;

        &:active:not(.bg-primary),
        &:focus:not(.bg-primary),
        &:hover:not(.bg-primary) {
            background-color: $fhi-grey-light-4 !important;
            border-color: $fhi-grey-light-4 !important;
            color: $fhi-grey-3 !important;
        }
        &.bg-primary {
            background-color: $fhi-brand-color !important;
        }
        &.outside {
            opacity: 0.3;
        }
    }
}
