<article class="ds-ui-documentation" id="{{ id }}">
  <h1 class="h3">{{ title }}</h1>

  <div class="ds-ui-documentation__item-container">
    <ul ngbNav #itemNav="ngbNav" [(activeId)]="activeMenuItemByDefault" class="nav-tabs" [animation]="false">
      <li *ngFor="let menuItem of navTabMenuItems; let i = index" [ngbNavItem]="i">
        <a ngbNavLink>{{ menuItem.name }}</a>

        <ng-container *ngIf="menuItem.name === MenuItemName.example">
          <ng-template ngbNavContent [ngClass]="">
            <app-library-item-full-screen-button
              *ngIf="hasPreviewButton && dynamicLibraryExample"
              [itemMarkup]="dynamicLibraryExample">
            </app-library-item-full-screen-button>
            <app-library-item-full-screen-button
              *ngIf="hasPreviewButton && type === itemTypeHtml"
              [itemMarkup]="exampleHtml">
            </app-library-item-full-screen-button>
            <div class="ds-ui-documentation__item" [ngClass]="{'has-preview-buttons': hasPreviewButton}">
              <div *ngIf="type === itemTypeHtml; else dynamicLibraryExample"
                   [innerHtml]="exampleHtml | safe: 'html'">
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="menuItem.name === MenuItemName.documentation">
          <ng-template ngbNavContent>
            <div class="ds-ui-documentation__item">
              <div [innerHtml]="documentationHtml | safe: 'html'"></div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="menuItem.name === MenuItemName.code">
          <ng-template ngbNavContent>
            <app-library-copy-button [contentToCopy]="codeHtml"></app-library-copy-button>
            <div class="ds-ui-documentation__item">
              <markdown [data]="codeHtml | language : 'html'"></markdown>
            </div>
          </ng-template>
        </ng-container>

      </li>
    </ul>
    <div [ngbNavOutlet]="itemNav"></div>
  </div>
</article>


<ng-template #dynamicLibraryExample>
  <app-dynamic-library-example [itemId]="id"></app-dynamic-library-example>
</ng-template>
