<article class="ds-ui-documentation" id="{{ id }}" *ngIf="!isDebugging; else debugView">
  <h1 class="h2" [attr.lang]="titleLang === lang_NO ? null : lang_EN">{{ title }}</h1>

  <div class="ds-ui-documentation__item-container">
    <ul ngbNav #itemNav="ngbNav" [(activeId)]="activeMenuItemByDefault" class="nav-tabs" [animation]="false">
      <li *ngFor="let menuItem of navTabMenuItems; let i = index" [ngbNavItem]="i">
        <a ngbNavLink>{{ menuItem.name }}</a>

        <ng-container *ngIf="menuItem.name === MenuItemName.example">
          <ng-template ngbNavContent>
            <app-library-item-full-srceen *ngIf="fullScreenEnabled">
              <ng-container library-item-full-screen.body-content>
                <ng-container *ngTemplateOutlet="libraryExample"></ng-container>
              </ng-container>
            </app-library-item-full-srceen>
            <div
              class="ds-ui-documentation__item"
              [ngClass]="{ 'ds-ui-documentation__item--has-full-screen-button': fullScreenEnabled }"
            >
              <ng-container *ngTemplateOutlet="libraryExample"></ng-container>
            </div>
            <div class="ds-ui-documentation__code" *ngIf="codeHtml !== null">
              <app-library-copy-button [contentToCopy]="codeHtml"></app-library-copy-button>
              <markdown [data]="codeHtml | language: 'html'"></markdown>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="menuItem.name === MenuItemName.documentation">
          <ng-template ngbNavContent>
            <div class="ds-ui-documentation__item">
              <div [innerHtml]="documentationHtml | safe: 'html'"></div>
            </div>
          </ng-template>
        </ng-container>
      </li>
    </ul>
    <div [ngbNavOutlet]="itemNav"></div>
  </div>
</article>

<ng-template #libraryExample>
  <div *ngIf="type === itemTypeHtml; else dynamicLibraryExample" [innerHtml]="exampleHtml | safe: 'html'"></div>
</ng-template>

<ng-template #dynamicLibraryExample>
  <app-dynamic-library-example [groupId]="groupId" [itemId]="id"> </app-dynamic-library-example>
</ng-template>

<ng-template #debugView>
  <article class="mt-7 pb-7">
    <h1 class="h5 mb-4 p-1 ps-2 bg-light">{{ title }}</h1>
    <ng-container *ngTemplateOutlet="libraryExample"></ng-container>
  </article>
</ng-template>
