.highcharts-column-series.highcharts-legend-item {
    .highcharts-point {
        stroke-width: 1;
        stroke: $white;
    }
}

.highcharts-column-series {
    rect.highcharts-point {
        stroke: unset;
    }
}
