.highcharts-line-series.highcharts-legend-item {
    .highcharts-graph {
        display: none;
    }
    .highcharts-point {
        stroke-width: 6;
    }
}

.highcharts-line-series.highcharts-markers.highcharts-tracker {
    .highcharts-point {
        stroke-width: 4;
    }
}

.highcharts-line-series {
    .highcharts-graph {
        stroke-width: 3;
    }
}
