.fhi-highcharts-map {
    .highcharts-map-series .highcharts-point {
        stroke-width: 0.2 !important;
    }
    .highcharts-map-navigation {
        font-size: 16px;
        font-weight: bold;

        &.highcharts-zoom-in {
            transform: translate(10px, 70px);
        }
        &.highcharts-zoom-out {
            transform: translate(10px, 98px);
        }
        &.highcharts-zoom-in text {
            transform: translate(1px, -1px);
        }
        &.highcharts-zoom-out text {
            transform: translate(3px, -2px);
        }
    }
    .highcharts-credits {
        cursor: default;
        fill: $text-color;
        font-family: $font-family-highcharts-regular;
        font-size: 11px;

        &:hover {
            cursor: default;
            font-size: 11px;
            text-decoration: none;
            fill: $text-color;
        }
        a {
            font-family: $font-family-highcharts-regular;
            font-size: 11px;
            text-decoration: none;
            fill: $text-color;

            &:hover {
                font-size: 11px;
                text-decoration: underline;
                fill: $inline-link-hover-color;
            }
        }
    }
}
