.highcharts-color-10 {
    fill: var(--highcharts-color-10);
    stroke: var(--highcharts-color-10);
}
.highcharts-color-11 {
    fill: var(--highcharts-color-11);
    stroke: var(--highcharts-color-11);
}
.highcharts-color-12 {
    fill: var(--highcharts-color-12);
    stroke: var(--highcharts-color-12);
}
.highcharts-color-13 {
    fill: var(--highcharts-color-13);
    stroke: var(--highcharts-color-13);
}
.highcharts-color-14 {
    fill: var(--highcharts-color-14);
    stroke: var(--highcharts-color-14);
}
.highcharts-color-15 {
    fill: var(--highcharts-color-15);
    stroke: var(--highcharts-color-15);
}
.highcharts-color-16 {
    fill: var(--highcharts-color-16);
    stroke: var(--highcharts-color-16);
}
.highcharts-color-17 {
    fill: var(--highcharts-color-17);
    stroke: var(--highcharts-color-17);
}
.highcharts-color-18 {
    fill: var(--highcharts-color-18);
    stroke: var(--highcharts-color-18);
}
.highcharts-color-19 {
    fill: var(--highcharts-color-19);
    stroke: var(--highcharts-color-19);
}

.highcharts-title {
    fill: $text-color;
    font-size: 20px;
    font-family: $font-family-highcharts-semi-bold;
}
.highcharts-legend-item {
    .highcharts-point {
        cursor: pointer;
    }
    > text {
        fill: $text-color;
        font-size: 12px;
        font-family: $font-family-highcharts-regular;
        font-weight: normal;
        &:hover {
            text-decoration: underline;
            fill: $inline-link-hover-color;
        }
    }
}
.highcharts-legend-title {
    font-size: $fhi-core-font-size-2;
}
.highcharts-legend-point-active {
    .highcharts-point:not(.highcharts-point-inactive) {
        opacity: 1;
    }
}
.highcharts-axis-labels {
    > text {
        fill: $text-color;
        font-size: 12px;
        font-family: $font-family-highcharts-regular;
    }
}
.highcharts-axis-labels.highcharts-xaxis-labels {
    > text {
        font-family: $font-family-highcharts-semi-bold;
        font-size: 14px;
    }
}
.highcharts-xaxis {
    .highcharts-axis-line,
    .highcharts-tick {
        stroke-width: 2;
        stroke: $line-color-2;
    }
}
.highcharts-grid.highcharts-yaxis-grid {
    .highcharts-grid-line {
        stroke-width: 1;
        stroke: $line-color-1;
    }
}
.highcharts-caption,
.highcharts-caption p {
    fill: $text-color;
    font-size: 11px;
    font-family: $font-family-highcharts-regular;
    line-height: 1;
    margin-bottom: 5px;
}
.highcharts-caption {
    p.sommerMeldingTekst {
        display: inline;
    }
}
.highcharts-credits {
    color: $text-muted;
    fill: $text-muted;
    font-size: 11px;
    font-family: $font-family-highcharts-regular;
    line-height: 1;

    &:hover {
        font-size: 11px;
        text-decoration: underline;
        fill: $inline-link-hover-color;
    }
}

@include media-breakpoint-up(sm) {
    .highcharts-legend-title {
        font-size: $fhi-core-font-size-3;
    }
}
