//
// Variables
//   Only used by:
//   ./_map.scss
//   ./_shared.scss
//

$line-color-1: #dddddd;
$line-color-2: #dddddd;

$inline-link-hover-color: #b10640;
$text-color: #222222;

$font-family-highcharts-regular: "SourceSansPro Regular", sans-serif;
$font-family-highcharts-italic: "SourceSansPro Italic", sans-serif;
$font-family-highcharts-semi-bold: "SourceSansPro SemiBold", sans-serif;
