<div class="fhi-search mb-5">
  <label for="typeahead-basic" class="form-label">Search for a country (or territory):</label>

  <div class="d-flex">
    <div class="fhi-search__text w-100 position-relative">
      <input id="typeahead-basic" type="search" class="form-control fhi-search__form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
    </div>

    <button type="button" class="btn fhi-btn-secondary fhi-search__btn ms-2">
      <i class="fhi-search__btn-icon"></i>
      Search
    </button>
  </div>
</div>

<div class="fhi-search fhi-search--tall">
  <label for="typeahead-basic" class="form-label">Search for a country (or territory):</label>

  <div class="d-flex">
    <div class="fhi-search__text w-100 position-relative">
      <input id="typeahead-basic" type="search" class="form-control fhi-search__form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
    </div>

    <button type="button" class="btn fhi-btn-secondary fhi-search__btn ms-2">
      <i class="fhi-search__btn-icon"></i>
      Search
    </button>
  </div>
</div>
