[submodule "Fhi.Frontend.Style"]
	path = Fhi.Frontend.Style
	url = https://github.com/folkehelseinstituttet/Fhi.Frontend.Style.git

[submodule "projects/fhi-frontend-angular-components"]
	path = projects/fhi-frontend-angular-components
	url = https://github.com/folkehelseinstituttet/Fhi.Frontend.AngularComponents.git
