<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Route alle navigasjons-URL'er til Angular">
            <match url="^(.*)$" />
            <conditions>
              <!-- Filtyper som skal utelukkes  -->
              <!--
                Linjen under (IsFile) kan benyttes som substitutt for alle filtype-eksklusjoner under,
                hvis en benytter en nyere IIS server med nyeste URL rewrite:
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              -->
              <add input="{REQUEST_URI}" pattern="/(.*).js" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).css" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).woff" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).ttf" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).txt" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).svg" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).png" negate="true" />
              <!-- Kataloger og URLer som brukes av applikasjonnen som skal utelukkes -->
              <add input="{REQUEST_URI}" pattern="/assets(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="/api(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="/swagger(.*)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
                <rule name="Redirect til HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
<!--ProjectGuid: CAD92109-44E3-41C3-BB5F-8A117A321632-->
