<article class="ds-ui-documentation" id="{{ id }}">
  <h1 class="ds-ui-documentation__title">{{ title }}</h1>
  <div class="ds-ui-documentation__example-container">

    <div [hidden]="isExampleAngularComponent">

      <div class="ds-ui-documentation__example">
        <div [innerHtml]="exampleHtml | safe: 'html'"></div>
      </div>

      <app-library-copy-button [contentReferenceToCopy]="exampleMarkdown"></app-library-copy-button>

      <div class="ds-ui-documentation__markdown">
        <markdown [data]="exampleMarkdown | language : 'html'"></markdown>
      </div>
    </div>

    <app-library-example-detail-nav [libraryExampleNavModels]="libraryExampleNavModels" [hidden]="!isExampleAngularComponent">
      <ng-container dynamicAngularComponentFirstNav>
        <ng-template appExampleAngularComponentHost></ng-template>
      </ng-container>
    </app-library-example-detail-nav>
  </div>
</article>