<div class="container">

  <app-library-menu-level-1 [menuItems]="libraryMenuLevel1Items"></app-library-menu-level-1>

  <ng-container *ngIf="libraryItemsLoaded else spinner">
    <div class="row">
      <div class="col-md-4 col-lg-3 col-xxl-3">
        <app-library-menu-level-2
          [menuItems]="libraryMenuLevel2Items"
          [categories]="libraryMenuLevel2Categories">
        </app-library-menu-level-2>
      </div>
      <div class="col-md-8 col-lg-9 col-xxl-7">
        <section>
          <app-library-item-detail
            *ngFor="let libraryItem of libraryItems"
            [libraryItem]="libraryItem">
          </app-library-item-detail>
        </section>
      </div>
    </div>
  </ng-container>
</div>


<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
