.fhi-tree-view-checkbox {
    &__result-list {
        max-height: 500px;
        overflow: auto;
        padding-top: $fhi-core-space-2;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        position: relative;
    }

    &__toggler {
        position: absolute;
        left: ($fhi-core-space-5) * -1;
        background-color: $fhi-core-white;
        border: 0;
        padding: 0;

        [class*="icon-"] {
            background-size: $fhi-core-space-4;
        }
    }

    &__check-all {
        border: 0;
        color: $fhi-core-blue-1;
        font-size: $fhi-core-font-size-2;
        font-weight: 400;

        height: unset;
        margin: 0 0 $fhi-core-space-2 (-$fhi-core-space-1);
        padding: $fhi-core-space-1;

        &:hover {
            color: $fhi-core-blue-1;
            text-decoration: none;
        }
    }

    &__search {
        max-width: 25rem;
    }

    &__mark {
        background-color: transparent;
        font-weight: bold;
        padding: 0;
    }
}
