@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/mixins";
@import "~@folkehelseinstituttet/style/scss/variables.scss";

.fhi-pageheader {
    background-color: $fhi-white;
    z-index: 1;

    &__section-title {
        border-bottom: $fhi-px * 2 solid transparent;
        display: inline-block;
        font-family: $fhi-font-family-sans-serif-regular;
        font-size: $fhi-font-size-3;
        letter-spacing: 0;
        line-height: 1.25;
        margin: 0;
        padding: $fhi-space-2 $fhi-space-4;
        position: relative;

        &::before {
            background-color: $fhi-red-1;
            bottom: $fhi-px * 3 * -1;
            content: "";
            display: block;
            height: $fhi-px * 3;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: $fhi-px * 54;
        }
    }

    &__submenu-container {
        max-height: $fhi-px * 185;
        overflow: auto;
    }

    &__submenu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: $fhi-space-5 0 0 ($fhi-space-1 * -1);
        padding: 0;
        transition: margin-top .2s;
    }

    &__submenu-item {
        margin-bottom: $fhi-space-3;
        padding: 0 $fhi-space-2;
    }
}


.fhi-pageheader--sticky {
    position: sticky;
    top: 0;
    transition: top .2s;

    &__no-logo {
        top: ($fhi-px * -88);

        .fhi-header__brand-container,
        .border-bottom {
            border-color: transparent !important;
        }

        .fhi-pageheader__submenu {
            margin-top: $fhi-space-3;
        }
    }
}


@include media-breakpoint-down(sm) {
    .fhi-pageheader {
        &__submenu-container {
            padding-left: $fhi-space-4 - $fhi-space-1;
            padding-right: $fhi-space-3;
        }
    }
}


@include media-breakpoint-up(xl) {
    .fhi-pageheader--sticky {
        &__no-logo {
            top: ($fhi-px * -112);
        }
    }
}
