.nav-pills {
    .nav-link {
        font-size: $fhi-core-font-size-2;
    }
    .nav-link.active,
    .nav-item.show .nav-link .nav-link:hover {
        color: $fhi-core-grey-4;
        background-color: $fhi-core-grey-light-3;
        text-decoration: none;
    }
}

.list-group-item {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
}
.list-group-item:first-child {
    padding-top: 0;
}

.ds-left-menu {
    position: sticky;
    top: 1rem;
    max-height: calc(100vh - 1rem);
    margin-left: -6px;
    margin-right: -6px;
    padding: 6px;
    overflow-y: auto;

    .active {
        color: var(--bs-nav-link-hover-color);
        position: relative;

        &::before {
            background-color: currentColor;
            content: "";
            display: block;
            height: 1.25em;
            left: 0;
            position: absolute;
            top: calc(#{$fhi-core-space-3} - #{$fhi-core-px * 7});
            width: 2px;
        }
    }
}

.ds-scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;

    &__icon {
        font-size: 2rem;
        line-height: 1;

        &:hover {
            color: $fhi-core-blue-1;
        }
    }
}

.ds-color-palette {
    &__color {
        height: $fhi-core-space-6;
        min-width: $fhi-core-space-5 * 5;
    }
    &__code {
        color: $fhi-core-grey-3;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: $fhi-core-font-size-1;
        height: $fhi-core-space-6;
    }

    // Light grey
    &__color--fhi-core-grey-light-1 {
        background-color: $fhi-core-grey-light-1;
    }
    &__color--fhi-core-grey-light-2 {
        background-color: $fhi-core-grey-light-2;
    }
    &__color--fhi-core-grey-light-3 {
        background-color: $fhi-core-grey-light-3;
    }
    &__color--fhi-core-grey-light-4 {
        background-color: $fhi-core-grey-light-4;
    }

    // Grey
    &__color--fhi-core-grey-1 {
        background-color: $fhi-core-grey-1;
    }
    &__color--fhi-core-grey-3 {
        background-color: $fhi-core-grey-3;
    }
    &__color--fhi-core-grey-4 {
        background-color: $fhi-core-grey-4;
    }

    // Blue/Grey
    &__color--fhi-core-blue-grey-2 {
        background-color: $fhi-core-blue-grey-2;
    }
    &__color--fhi-core-blue-grey-3 {
        background-color: $fhi-core-blue-grey-3;
    }
    &__color--fhi-core-blue-grey-4 {
        background-color: $fhi-core-blue-grey-4;
    }
    &__color--fhi-core-blue-grey-6 {
        background-color: $fhi-core-blue-grey-6;
    }
    &__color--fhi-core-blue-grey-7 {
        background-color: $fhi-core-blue-grey-7;
    }

    // Charcoal
    &__color--fhi-core-charcoal-1 {
        background-color: $fhi-core-charcoal-1;
    }

    // Blue
    &__color--fhi-core-blue-1 {
        background-color: $fhi-core-blue-1;
    }
    &__color--fhi-core-blue-2 {
        background-color: $fhi-core-blue-2;
    }
    &__color--fhi-core-blue-3 {
        background-color: $fhi-core-blue-3;
    }

    // Green
    &__color--fhi-core-green-1 {
        background-color: $fhi-core-green-1;
    }
    &__color--fhi-core-green-2 {
        background-color: $fhi-core-green-2;
    }

    // Orange
    &__color--fhi-core-orange-2 {
        background-color: $fhi-core-orange-2;
    }
    &__color--fhi-core-orange-1 {
        background-color: $fhi-core-orange-1;
    }

    // Red
    &__color--fhi-core-red-1 {
        background-color: $fhi-core-red-1;
    }
    &__color--fhi-core-red-2 {
        background-color: $fhi-core-red-2;
    }

    // Dark pink
    &__color--fhi-core-pink-dark-1 {
        background-color: $fhi-core-pink-dark-1;
    }

    // Light pink
    &__color--fhi-core-pink-light-1 {
        background-color: $fhi-core-pink-light-1;
    }
}

.ds-icons-wrapper {
    margin: 0 -0.5rem;

    .ds-icon {
        display: inherit;
        padding: 0 0.5rem;
        width: 100%;

        [class*="icon-"] {
            cursor: pointer;
            margin-right: 0.5rem;
            transition:
                height 0.15s,
                width 0.15s,
                margin-top 0.15s;
        }

        .icon-sm {
            margin-top: $fhi-core-space-1;
        }

        > * {
            vertical-align: text-bottom;
        }

        &:hover {
            .fhi-text-ancillary {
                color: $fhi-core-charcoal-1;
            }

            .ds-icon__prefix {
                display: initial;
            }
        }

        &__name {
            cursor: pointer;
            display: inline-block;
            font-size: $fhi-core-font-size-1;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:focus {
                color: $fhi-core-charcoal-1;
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .ds-icons-wrapper {
        .ds-icon {
            width: 50%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .ds-icons-wrapper {
        .ds-icon {
            width: 33.333%;
        }
    }
}
