.ds-ui-documentation {
    margin-bottom: $fhi-core-space-7 * 1.7;

    &__description {
        margin-bottom: $fhi-core-space-3;
    }
    &__info {
        border: 1px solid $fhi-core-blue-grey-4;
        border-radius: 4px;
        padding: $fhi-core-space-3;
        margin-bottom: $fhi-core-space-3;
    }
    &__info-icon {
        float: left;
        font-size: $fhi-core-font-size-4;
        margin: 0 $fhi-core-space-4 0 $fhi-core-space-2;
    }
    &__info-text {
        margin-bottom: 0;
    }
    &__item-container {
        background-color: $fhi-bg-color-3;
        padding: $fhi-core-space-3 $fhi-core-px * 5;
    }
    &__item {
        background-color: $fhi-bg-color-1;
        border-radius: $border-radius;
        margin-bottom: $fhi-core-space-3;
        padding: $fhi-core-space-5 ($fhi-core-px * 15);

        :not(pre) > code {
            background-color: $fhi-bg-color-4;
            border-radius: $fhi-core-px * 3;
            color: $body-color;
            font-size: $fhi-core-font-size-1;
            padding: ($fhi-core-px * 2) $fhi-core-space-2;
        }
    }
    &__item--has-full-screen-button {
        padding-top: $fhi-core-px * 75;
    }
    &__code {
        padding-left: $fhi-core-space-1;

        code[class*="language-"] {
            font-size: 12px;
        }
    }
    &__markdown {
        padding: $fhi-core-space-1 $fhi-core-space-2;
    }
    &__btn-wrapper {
        border-left: 1px solid $fhi-core-grey-light-2;
        border-bottom: 1px solid $fhi-core-grey-light-2;
        border-bottom-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        min-width: $fhi-core-px * 45;
    }
    &__btn-wrapper--full-screen {
        background-color: $fhi-core-grey-light-1;
    }
    &__btn {
        border: 0;
        padding: 0 $fhi-core-space-2;

        &:hover {
            background-color: transparent;
        }

        small {
            font-size: 12px;
        }
    }
    &__btn--copy {
        padding: 0 $fhi-core-px * 13.75;
    }
}

@include media-breakpoint-up(xxs) {
    .ds-ui-documentation {
        &__item-container {
            margin: 0 (-$fhi-core-container-padding-xxs);
        }
    }
}
@include media-breakpoint-up(xs) {
    .ds-ui-documentation {
        &__item-container {
            margin: 0 (-$fhi-core-container-padding-xs);
        }
    }
}

@include media-breakpoint-up(sm) {
    .ds-ui-documentation {
        margin-bottom: $fhi-core-space-7;

        &__title {
            background-color: unset;
            font-size: $fhi-core-font-size-4;
            margin: 0 0 $fhi-core-space-3;
            padding: unset;
        }
        &__item-container {
            border-radius: $border-radius;
            margin: unset;
            padding: $fhi-core-space-3;
        }
        &__item {
            padding: $fhi-core-space-5;
        }
        &__item--has-full-screen-button {
            padding-top: $fhi-core-px * 75;
        }
    }
}
