@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "@folkehelseinstituttet/style/import/_all-variables.scss";
@import "bootstrap/scss/offcanvas";

$fhi-special-menu-animation-speed: 0.3s;

.fhi-pageheader {
    background-color: $fhi-core-white;
    z-index: 1;

    &__section-title {
        border-bottom: $fhi-core-px * 2 solid transparent;
        display: inline-block;
        line-height: 1.25;
        margin: 0;
        padding: $fhi-core-space-3 $fhi-core-space-4;
        position: relative;

        &::before {
            background-color: $fhi-core-red-1;
            bottom: $fhi-core-px * 3 * -1;
            content: "";
            display: block;
            height: $fhi-core-px * 3;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: $fhi-core-px * 54;
        }

        &,
        .fhi-admin-view .fhi-pageheader & {
            font-size: $fhi-core-font-size-3;
        }
    }

    &__submenu-container {
        max-height: $fhi-core-px * 202; //sic
        overflow: auto;
    }

    &__submenu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: $fhi-core-space-5 0 0 ($fhi-core-space-1 * -1);
        padding: 0;
        transition: margin-top 0.2s;
    }

    &__submenu-item {
        margin-bottom: $fhi-core-space-3;
        padding: 0 $fhi-core-space-2;
    }

    &__secondary-megamenu-trigger {
        border: 0;
        height: auto;
        padding: 0;
        padding-right: $fhi-core-space-2;
        padding-left: $fhi-core-space-2;
        z-index: 1;

        &:hover {
            background-color: transparent;
        }
    }

    &__secondary-megamenu-trigger-icon {
        background-color: $fhi-core-red-1;
        border-radius: 50%;
        display: inline-block;
        height: $fhi-core-px * 44;
        margin-right: $fhi-core-space-2;
        padding-top: $fhi-core-px * 11;
        width: $fhi-core-px * 44;

        [class*="icon-"] {
            margin: 0;
        }
    }
}

.fhi-pageheader--sticky {
    position: sticky;
    top: 0;
    transition: top 0.2s;

    &__no-logo {
        top: ($fhi-core-px * -88);

        .fhi-header__brand-container,
        .border-bottom {
            border-color: transparent !important;
        }

        .fhi-pageheader__submenu {
            margin-top: $fhi-core-space-4;
        }
    }
}

.fhi-special-menu {
    display: none;
    left: 0;
    max-height: 100vh;
    padding-bottom: $fhi-core-space-7 + $fhi-core-space-4;
    position: fixed;
    top: 47px;
    transform: translateY(-100%);
    width: 100%;
    z-index: 2000;

    &::before,
    &::after {
        background-color: $fhi-core-red-1;
        content: "";
        position: absolute;
    }

    &::before {
        bottom: $fhi-core-px * 375;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }

    &::after {
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        bottom: 0;
        left: -30%;
        height: $fhi-core-px * 750;
        width: 175%;
    }

    &__container {
        max-height: calc(100vh - (#{$fhi-core-space-7 + $fhi-core-space-3}));
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: $fhi-core-space-5;
        padding-bottom: $fhi-core-space-2;
        position: relative;
        z-index: 1;
    }

    &__backdrop {
        background-color: $fhi-core-white;
        display: none;
        height: calc(100vh + #{$fhi-core-px * 375});
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: opacity $fhi-special-menu-animation-speed;
        width: 100%;
    }

    &.open {
        display: block;
        animation: $fhi-special-menu-animation-speed ease-in-out forwards
            openingSpecialMenu;

        > .fhi-special-menu__backdrop {
            display: block;
            opacity: 0.75;
        }
    }

    &.closing {
        display: block;
        animation: $fhi-special-menu-animation-speed ease-in-out forwards
            closingSpecialMenu;

        > .fhi-special-menu__backdrop {
            display: block;
            opacity: 0.75;
        }
    }

    .fhi-header {
        &__logo {
            margin-right: $fhi-core-space-3;
        }
        &__project {
            border-left-color: $fhi-core-white;
        }
    }

    .fhi-btn-shortcut-link {
        color: $body-color;
    }

    a,
    button {
        &:focus {
            box-shadow: none;
            outline: none !important;
        }
        &:focus-visible {
            box-shadow: 0 0 0 3px $fhi-core-white inset;
        }
    }
}

@include media-breakpoint-down(sm) {
    .fhi-pageheader {
        &__submenu-container {
            padding-left: $fhi-core-space-4 - $fhi-core-space-1;
            padding-right: $fhi-core-space-3;
        }

        &__secondary-megamenu-trigger {
            margin-right: $fhi-core-space-1;

            .btn__text {
                display: none;
            }
        }

        &__secondary-megamenu-trigger-icon {
            margin-right: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    .fhi-special-menu {
        &::after {
            left: -15%;
            width: 155%;
        }

        &__container {
            margin-right: auto;
            margin-left: auto;
            max-width: 80%;
        }
    }
}

@include media-breakpoint-up(xl) {
    .fhi-pageheader--sticky {
        &__no-logo {
            top: ($fhi-core-px * -112);
        }
    }

    .fhi-special-menu {
        &::after {
            left: -1%;
            width: 115%;
        }
    }
}

@keyframes openingSpecialMenu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closingSpecialMenu {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
