<ng-container *ngIf="itemId === items.Table.id">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <th>Kolonne 1</th>
          <th>Kolonne 2</th>
          <th>Kolonne 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableRow of table1">
          <th>{{ tableRow.col1 }}</th>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td>{{ tableRow.col4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.TableCompact.id">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <td></td>
          <th>Kolonne 1</th>
          <th>Kolonne 2</th>
          <th>Kolonne 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableRow of table1">
          <th>{{ tableRow.col1 }}</th>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td>{{ tableRow.col4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.TableStriped.id">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <th>Kolonne 1</th>
          <th>Kolonne 2</th>
          <th>Kolonne 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tableRow of table1">
          <th>{{ tableRow.col1 }}</th>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td>{{ tableRow.col4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.TableSortable.id">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <th
            scope="col"
            tabindex="0"
            aria-label="Sorter tabell på fornavn"
            [attr.aria-sort]="currentlySortedColumn === 'col2' ? sortDirection : 'none'"
            (keydown.enter)="sortTable('col2')"
            (click)="sortTable('col2')"
          >
            <span class="text-decoration-underline">Kolonne 1</span>
            <i [ngClass]="getIconClass('col2')"></i>
          </th>
          <th
            scope="col"
            tabindex="0"
            aria-label="Sorter tabell på etternavn"
            [attr.aria-sort]="currentlySortedColumn === 'col3' ? sortDirection : 'none'"
            (keydown.enter)="sortTable('col3')"
            (click)="sortTable('col3')"
          >
            <span class="text-decoration-underline">Kolonne 2</span>
            <i [ngClass]="getIconClass('col3')"></i>
          </th>
          <th
            scope="col"
            tabindex="0"
            aria-label="Sorter tabell på rolle"
            [attr.aria-sort]="currentlySortedColumn === 'col4' ? sortDirection : 'none'"
            (keydown.enter)="sortTable('col4')"
            (click)="sortTable('col4')"
          >
            <span class="text-decoration-underline">Kolonne 3</span>
            <i [ngClass]="getIconClass('col4')"></i>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tableRow of table1">
          <th>{{ tableRow.col1 }}</th>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td>{{ tableRow.col4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.TableSelectableRow.id">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td></td>
          <th>
            <input class="form-check-input" id="selectAllRows" type="checkbox" (change)="toggleAll($event)" />
            <label for="selectAllRows" class="visually-hidden">Velg alle rader</label>
          </th>
          <th scope="col">Kolonne 1</th>
          <th scope="col">Kolonne 2</th>
          <th scope="col">Kolonne 3</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tableRow of table1; index as i" [attr.aria-selected]="tableRow.selected">
          <th>{{ tableRow.col1 }}</th>
          <td>
            <input
              class="form-check-input"
              id="row{{ i }}"
              type="checkbox"
              [checked]="tableRow.selected"
              (change)="tableRow.selected = !tableRow.selected"
            />
            <label for="row{{ i }}" class="visually-hidden">Velg denne raden</label>
          </td>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td>{{ tableRow.col4 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.TableEditable.id">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <td></td>
          <th scope="col">Kolonne 1</th>
          <th scope="col">Kolonne 2</th>
          <th scope="col">Redigerbar kolonne</th>
          <th class="text-end" scope="col">Handling</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tableRow of tableEditable; index as i">
          <th>{{ tableRow.col1 }}</th>
          <td>{{ tableRow.col2 }}</td>
          <td>{{ tableRow.col3 }}</td>
          <td class="py-1">
            <span class="position-relative">
              <span
                class="position-absolute top-0 pt-1 start-0 ms-n5 transition-all"
                [ngClass]="tableRow.updated ? 'opacity-1' : 'opacity-0'"
              >
                <span class="icon-check-circle icon-green"></span>
              </span>
              <span contentEditable="true" (keyup)="updataData(tableRow, $event)">{{ tableRow.col4 }}</span>
            </span>
            <span class="invalid-feedback" [ngClass]="tableRow.failed ? 'd-block' : null">Nå skrev du "1"</span>
          </td>
          <td class="text-end py-0 align-middle">
            <button class="btn fhi-btn-icon" type="button" (click)="deleteRow(tableRow.col1, i)">
              <i class="icon-trash3"></i><span class="btn__text">Slett</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
