<ng-container *ngIf="itemId === items.LayoutTemplateFullwidth.id"> <div>fullwidth</div></ng-container>

<ng-container *ngIf="itemId === items.LayoutTemplateExpandableFirstCol.id">
  <div class="container">
    <div class="fhi-expandable-first-col">
      <div class="row">
        <div class="col-12 col-md-auto">
          <div class="fhi-drawer" [attr.class]="{ open: drawerIsOpen }">
            <button type="button" class="btn fhi-drawer__trigger" (click)="toggleDrawer()">
              <i class="icon-red icon-chevron-double-right" *ngIf="!drawerIsOpen"></i>
              <i class="icon-red icon-chevron-double-left" *ngIf="drawerIsOpen"></i>
            </button>

            <div class="fhi-drawer__content bg-white mt-n6" [attr.aria-hidden]="!drawerIsOpen" #drawerContent>
              <p>Skuffinnhold.</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>Dette strekker seg høyere enn hovedinnholdet.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md">
          <main
            class="fhi-expandable-first-col__main mt-n6 ps-7 mt-md-0 ps-md-0"
            [attr.style]="{ 'min-height': drawerHeight + 'px' }"
          >
            <h1>Hovedinnholdet</h1>
            <p>&hellip;</p>
            <p>&hellip;</p>
          </main>
        </div>
      </div>
    </div>
  </div>
</ng-container>
