<ng-container *ngIf="itemId === items.LayoutTemplateNarrowWBg.id">
  <div class="fhi-app">
    <app-header-example></app-header-example>

    <div class="fhi-app__main-body">
      <fhi-layout-narrow-w-bg>
        <ng-container maincontent.title>Sidens tittel</ng-container>

        <ng-container maincontent.simplehalf>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-nowrap">Kolonne 1</th>
                  <th class="text-nowrap">Kolonne 2</th>
                  <th class="text-nowrap">Kolonne 3</th>
                  <th class="text-nowrap">Kolonne 4</th>
                  <th class="text-nowrap">Kolonne 5</th>
                  <th class="text-nowrap">Kolonne 6</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rad 1, Celle 1</td>
                  <td>Rad 1, Celle 2</td>
                  <td>Rad 1, Celle 3</td>
                  <td>Rad 1, Celle 4</td>
                  <td>Rad 1, Celle 5</td>
                  <td>Rad 1, Celle 6</td>
                </tr>
                <tr>
                  <td>Rad 2, Celle 1</td>
                  <td>Rad 2, Celle 2</td>
                  <td>Rad 2, Celle 3</td>
                  <td>Rad 2, Celle 4</td>
                  <td>Rad 2, Celle 5</td>
                  <td>Rad 2, Celle 6</td>
                </tr>
                <tr>
                  <td>Rad 3, Celle 1</td>
                  <td>Rad 3, Celle 2</td>
                  <td>Rad 3, Celle 3</td>
                  <td>Rad 3, Celle 4</td>
                  <td>Rad 3, Celle 5</td>
                  <td>Rad 3, Celle 6</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </fhi-layout-narrow-w-bg>
    </div>

    <footer class="fhi-footer">
      <app-footer-example></app-footer-example>
    </footer>
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.LayoutTemplateExpandableFirstCol.id">
  <div class="container">
    <div class="fhi-expandable-first-col">
      <div class="row">
        <div class="col-12 col-md-auto">
          <div class="fhi-drawer" [attr.class]="{ open: drawerIsOpen }">
            <button type="button" class="btn fhi-drawer__trigger" (click)="toggleDrawer()">
              <i class="icon-red icon-chevron-double-right" *ngIf="!drawerIsOpen"></i>
              <i class="icon-red icon-chevron-double-left" *ngIf="drawerIsOpen"></i>
            </button>

            <div class="fhi-drawer__content bg-white mt-n6" [attr.aria-hidden]="!drawerIsOpen" #drawerContent>
              <p>Skuffinnhold.</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>&hellip;</p>
              <p>Dette strekker seg høyere enn hovedinnholdet.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md">
          <main
            class="fhi-expandable-first-col__main mt-n6 ps-7 mt-md-0 ps-md-0"
            [attr.style]="{ 'min-height': drawerHeight + 'px' }"
          >
            <h1>Hovedinnholdet</h1>
            <p>&hellip;</p>
            <p>&hellip;</p>
          </main>
        </div>
      </div>
    </div>
  </div>
</ng-container>
