@mixin diagram-container {
    position: relative;
    height: 0;
    min-height: 400px;
    padding-bottom: 100%;
    width: 100%;
}

@mixin fill-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin chart-in-fullscreen-modal {
    @include media-breakpoint-up(sm) {
        .modal-fullscreen & {
            padding-bottom: 60vh;
        }
    }
}
