.fhi-date-range {
  display: flex;

  &__divider {
    display: block;
    text-align: center;
    transform: translateY($fhi-core-px * 38);
    width: $fhi-core-px * 40;
  }

  .fhi-datepicker {
    width: $datepicker-width;

    &__label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
