.fhi-date-range {
  display: flex;
  flex-wrap: wrap;

  &__divider {
    display: block;
    text-align: center;
    transform: translateY($fhi-core-px * 38);
    width: $fhi-core-px * 40;
  }

  &__datepicker-from {
    margin-bottom: $fhi-core-space-3;
  }

  .fhi-datepicker {
    width: $datepicker-width;

    &__label {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--is-invalid-from {
    .fhi-date-range__datepicker-from {
      .form-control {
        border-color: $fhi-core-pink-dark-1;
      }
    }
  }

  &--is-invalid-to {
    .fhi-date-range__datepicker-to {
      .form-control {
        border-color: $fhi-core-pink-dark-1;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .fhi-date-range {
    &__datepicker-from {
      margin-bottom: 0;
    }
  }
}
