@mixin week-background($background: $fhi-core-grey-light-2) {
    &::before {
        background-color: $background;
        content: "";
        display: block;
        height: $fhi-core-px * 38;
        left: 0;
        position: absolute;
        top: 0;
        width: $fhi-core-px * 308;
        z-index: -1;
    }
}

.fhi-weekpicker {
    .fhi-datepicker [ngbDatepickerDayView].bg-primary {
        background-color: transparent !important;
        color: inherit !important;

        &::after {
            border-top: 1px solid $fhi-core-grey-3;
            border-bottom: 1px solid $fhi-core-grey-3;
            content: "";
            display: block;
            height: $fhi-core-px * 37;
            left: 0;
            position: absolute;
            width: $fhi-core-px * 308;
        }
    }

    .ngb-dp-week {
        overflow: hidden;
        position: relative;
    }

    .ngb-dp-showweek,
    .ngb-dp-week-number {
        border-right: 1px solid $fhi-core-grey-1;
        display: flex;
        flex-direction: column;
        font-family: $fhi-core-font-family-sans-serif-bold;
        font-size: inherit;
        justify-content: center;
    }

    .ngb-dp-week-number {
        + .ngb-dp-day {
            margin-left: calc(100% / 8 * -1);
            position: relative;
            width: 200%;

            .btn-light {
                margin-left: 50%;
                padding-top: 25%;
                padding-bottom: 25%;
            }
        }
    }

    .ngb-dp-today > [ngbDatepickerDayView].btn-light,
    [ngbDatepickerDayView].active {
        // reset date picking
        box-shadow: none !important;
        outline: none !important;
    }

    .ngb-dp-today {
        &:last-child,
        ~ .ngb-dp-day:last-child {
            @include week-background();
        }
    }

    .ngb-dp-day {
        .btn-light:hover {
            background-color: transparent;
        }

        &[tabindex="0"] {
            z-index: unset;

            &:last-child,
            ~ .ngb-dp-day:last-child {
                @include week-background($fhi-core-blue-grey-3);
            }
        }

        &:hover {
            &:last-child[role],
            ~ .ngb-dp-day:last-child {
                @include week-background($fhi-core-grey-light-2);
            }
        }
    }
}
