.fhi-date-time {
    fhi-datepicker {
        display: block;
        width: $datepicker-width;
    }

    .fhi-datepicker {
        padding-top: $fhi-core-space-5;

        &__label {
            position: absolute;
            top: 0;
            white-space: nowrap;
            z-index: 1;
        }
    }

    &__time-container {
        flex-grow: 1;
        max-width: $datepicker-width;
        position: relative;
    }

    &__time-icon {
        margin-top: $fhi-core-px * 8;
        margin-left: $fhi-core-space-2;
        top: 0;
    }

    &__hours-and-minutes {
        padding-left: $fhi-core-px * 38;
        width: $fhi-core-px * 105;
    }
}
