<tree-root [nodes]="simpleNodes" *ngIf="itemId === itemIds.TreeView"></tree-root>

<div *ngIf="itemId === itemIds.TreeViewBuilder">
  <p>Tree view Builder</p>
</div>

<div *ngIf="itemId === itemIds.TreeViewNavigation" class="row">
  <div class="col-md-8 col-lg-6">
    <tree-root class="fhi-angular-tree-navigation fhi-angular-tree-no-drop-slots" [focused]="true" [nodes]="navigationNodes">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <a class="fhi-angular-tree-navigation__link"
          [routerLink]="node.data.uri"
          *ngIf="node.data.uri.substr(0, 4) !== 'http'">{{ node.data.name }}</a>
        <a class="fhi-angular-tree-navigation__link"
          [href]="node.data.uri"
          *ngIf="node.data.uri.substr(0, 4) === 'http'">{{ node.data.name }}</a>
      </ng-template>
    </tree-root>
  </div>
</div>

<div *ngIf="itemId === itemIds.TreeViewCheckbox">
  <p>Tree view Checkbox</p>
</div>
