.fhi-table {
    &__expand-button-container {
        min-width: 44px;
        padding: 0;
        position: relative;
        width: 44px;
    }

    &__expand-button {
        border: 0;
        border-radius: 0;
        padding: 0;
        position: absolute;
        height: 100%;
        width: 44px;
    }

}
// .fhi-tablerow-expanded th,
// .fhi-tablerow-expanded td {
//     border-bottom: 0;
// }

// .fhi-tablerow-expanded__additional-content {
//     padding-left: 60px;
// }

// .fhi-btn-expand-table {
//     border: 0;
//     border-radius: 0;
//     padding: 0;
//     position: absolute;
//     height: 100%;
//     width: 44px;
// }

// .fhi-btn-expand-table:focus-visible {
//     box-shadow: 0 0 0 2px #0067c4 inset !important;
// }

// .fhi-btn-expand-table [class*="icon-"] {
//     background-position: center center;
// }
