.fhi-table {
    &__row-with-expand-button.next-row-is-expanded {
        th, td {
            border-bottom: 0;
        }
    }

    &__row-with-expand-button {
        th {
            min-width: 44px;
            padding: 0;
            position: relative;
            width: 44px;
        }

        .btn {
            border: 0;
            border-radius: 0;
            padding: 0;
            position: absolute;
            height: 100%;
            width: 44px;

            &:focus-visible {
                box-shadow: 0 0 0 2px $fhi-core-blue-1 inset !important;
            }

            [class*="icon-"] {
                background-position: center center;
            }
        }
    }
}
