.fhi-table {
    &__row-with-expand-button.next-row-is-expanded {
        background-color: $fhi-core-grey-light-2;

        th, td {
            border-bottom: 0;
        }
    }

    &__row-with-expand-button {
        th {
            min-width: 44px;
            padding: 0;
            position: relative;
            width: 44px;
        }

        .btn {
            border: 0;
            border-radius: 0;
            padding: 0;
            position: absolute;
            height: 100%;
            width: 44px;

            &:focus-visible {
                box-shadow: 0 0 0 2px #0067c4 inset !important;
            }

            [class*="icon-"] {
                background-position: center center;
            }
        }
    }

    &__row-expandable {
        background-color: $fhi-core-grey-light-2;
    }
}
