<form (keydown.enter)="$event.preventDefault()">
  <div class="fhi-input-group">
    <div class="fhi-input-group__col-1">
      <label class="form-label" for="input-1">Ledetekst</label>
    </div>

    <div class="fhi-input-group__col-2">
      <p class="form-text" id="input-text-1">Hjelpetekst</p>
      <input class="form-control" id="input-1" type="text" aria-describedby="input-text-1">
    </div>
  </div>

  <div class="fhi-input-group">
    <div class="fhi-input-group__col-1">
      <label for="input-2" class="form-label">Tekstfelt med label som brekker</label>
    </div>

    <div class="fhi-input-group__col-2">
      <input type="text" id="input-2" class="form-control" placeholder="">
    </div>
  </div>

  <div class="fhi-input-group">
    <div class="fhi-input-group__col-1">
      <label for="input-3" class="form-label">Tekstfelt med validering</label>
    </div>

    <div class="fhi-input-group__col-2">
      <input type="text" id="input-3" class="form-control is-invalid" placeholder="" aria-describedby="input-text-3">
      <p class="form-text" id="input-text-3">Hjelpetekst</p>
      <div class="invalid-feedback">En forståelig feilmelding.</div>
    </div>
  </div>

  <div class="fhi-input-group">
    <div class="fhi-input-group__col-1">
      <label for="input-4" class="form-label">Textarea</label>
    </div>

    <div class="fhi-input-group__col-2">
      <textarea class="form-control" id="input-4" rows="3"></textarea>
    </div>
  </div>

  <fieldset class="fhi-input-group">
    <legend class="fhi-input-group__col-1">
      <span class="form-label">Fieldset legend</span>
    </legend>

    <div class="fhi-input-group__col-2 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="customCheck-1">
            <label class="form-check-label" for="customCheck-1">
              Alternativ 1
            </label>
          </div>
        </div>

        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="customCheck-2">
            <label class="form-check-label" for="customCheck-2">
              Alternativ 2
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="fhi-input-group">
    <div class="fhi-input-group__col-1"></div>

    <div class="fhi-input-group__col2">
      <button type="submit" class="btn fhi-btn-primary me-2">Send inn</button>
      <button type="reset" class="btn fhi-btn-secondary">Avbryt</button>
    </div>
  </div>
</form>
