<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <label class="form-label" for="id-1">Tekst 1</label>
      <input class="form-control" type="text" id="id-1" />
    </div>

    <div class="col-md-6 mb-4">
      <label class="form-label" for="id-2">Tekst 2</label>
      <input class="form-control" type="text" id="id-2" />
    </div>

    <div class="col-md-6 mb-4">
      <label for="FormInputValidation" class="form-label">Tekstfelt med validering</label>
      <input
        type="text"
        id="FormInputValidation"
        class="form-control is-invalid"
        placeholder=""/>
      <div class="invalid-feedback">En forståelig feilmelding.</div>
    </div>

    <div class="col-md-6 mb-4">
      <label for="exampleFormControlTextarea1" class="form-label">Tekstfelt med flere linjer</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>

    <div class="col-md-6 mb-4">
      <fieldset>
        <legend>Her kan du gjøre 0 - 3 valg</legend>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="customCheck1">
          <label class="form-check-label" for="customCheck1">
            Valg nr. 1
          </label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="customCheck2">
          <label class="form-check-label" for="customCheck2">
            Valg nr. 2
          </label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="customCheck3">
          <label class="form-check-label" for="customCheck3">
            Valg nr. 3
          </label>
        </div>
      </fieldset>
    </div>

    <div class="col-md-6 mb-4">
      <fieldset>
        <legend>Her kan du gjøre 1 valg</legend>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioInput1">
          <label class="form-check-label" for="radioInput1">
            Valg nr. 1
          </label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioInput2">
          <label class="form-check-label" for="radioInput2">
            Valg nr. 2
          </label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioInput3">
          <label class="form-check-label" for="radioInput3">
            Valg nr. 3
          </label>
        </div>
      </fieldset>
    </div>

    <div class="col-md-6 mb-4">
      <label for="FormSelect" class="form-label">Ledetekst for select</label>
      <select class="form-select" id="FormSelect">
        <option>Aktiver for å gjøre et valg</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>

    <div>
      <button type="button" class="btn fhi-btn-primary">
        Send inn
      </button>
    </div>
  </div>
</div>
