<ul ngbNav #nav="ngbNav" [(activeId)]="activeNav" class="nav-tabs">
    <li *ngFor="let id of navIds;" [ngbNavItem]="id">
        <a ngbNavLink>
            {{getNavModelById(id).title}}
        </a>
        <ng-container *ngIf="getNavModelById(id).isAngularComponent; else defaultBlock">
            <ng-template ngbNavContent>
                <ng-content select="[dynamicAngularComponentFirstNav]"></ng-content>
            </ng-template>
        </ng-container>
        <ng-template #defaultBlock >
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-12">
                        <markdown [data]="getNavModelById(id).content | language : getNavModelById(id).fileType"></markdown>
                    </div>
                    <div class="col-12">
                        <app-library-copy-button class="mt-n5" [contentReferenceToCopy]="getNavModelById(id).content"></app-library-copy-button>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>