<article>
  <h1 class="mb-5">{{ title }}</h1>

  @if (currentSegment === urlSegment.visualIdentity) {
    <div class="row">
      <div class="col-lg-6">
        <ng-container *ngTemplateOutlet="visualIdentityText"></ng-container>
      </div>
    </div>
  }
  @if (currentSegment === urlSegment.components) {
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <ng-container *ngTemplateOutlet="componentsAlert"></ng-container>
        <ng-container *ngTemplateOutlet="componentsText"></ng-container>
      </div>
      <div class="col-lg-6 order-lg-1">
        <ng-container *ngTemplateOutlet="componentsFilter"></ng-container>
        <ng-container *ngTemplateOutlet="componentsList"></ng-container>
      </div>
    </div>
  }
</article>

<ng-template #visualIdentityText>
  <p>
    For at alle våre produkter skal ha en tydelig og gjenkjennbar profil må farger, ikonbruk, typografi, logo og
    illustrasjoner henge sammen og brukes konsistent.
  </p>
</ng-template>

<ng-template #componentsText>
  <p>
    Komponentbiblioteket i FHI Designsystem baserer seg på
    <a href="https://getbootstrap.com/docs/5.3">Bootstrap 5</a>. Interaktive komponenter benytter
    <a href="https://ng-bootstrap.github.io" class="text-nowrap">ng-bootstrap</a>
    og andre tredjepartskomponenter der disse finnes. I tillegg er noen skreddersydde Angularkomponenter produsert av
    FHI.
  </p>
  <p>
    Alle løsninger kan konsumere stilsettet uavhengig av hvilket rammeverk som er benyttet. Legg til CSS fra FHI
    Designsystem:
    <a href="https://www.npmjs.com/package/@folkehelseinstituttet/style">&#64;folkehelseinstituttet/style</a>.
  </p>
  <p>
    FHI Designsystem bygges i Angular og løsninger som benytter annet frontendrammeverk er ansvarlige for å generere
    riktig markup slik at utseendet blir korrekt.
  </p>
  <p>
    <a href="https://github.com/folkehelseinstituttet/Fhi.Frontend.Style/blob/main/CHANGELOG.md"
      >Se changelog for stilsettet her.</a
    >
  </p>
</ng-template>

<ng-template #componentsAlert>
  <div class="mb-5">
    <div class="alert alert-info" role="alert">
      <i class="icon-info-circle"></i>
      <p>
        Disse sidene handler om CSS-biblioteket til FHI, samt et lite utvalg Angular-komponenter. Både CSS-bibliotek og
        Angular-komponenter vil erstattes av et nytt designsystem med rammeverksagnostiske komponenter. Innmeldte feil i
        Github rettes fortløpende.
        <br /><br />
        <a href="https://github.com/folkehelseinstituttet/Fhi.Frontend.Style/issues/new/choose">Opprett issue</a>
        (CSS-biblioteket)<br />
        <a href="https://github.com/folkehelseinstituttet/Fhi.Frontend.Demo/issues/new/choose">Opprett issue</a>
        (Angular-komponenter)
      </p>
    </div>
  </div>
</ng-template>

<ng-template #componentsFilter>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="fhi-search">
        <label for="typeahead-basic" class="form-label">Alle komponenter</label>
        <div class="d-flex">
          <div class="w-100 position-relative">
            <input
              id="filter"
              type="search"
              class="form-control fhi-search__form-control"
              placeholder="Søk"
              #filter
              (keyup)="itemsFiltered = filterItems(filter.value)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #componentsList>
  <div class="table-responsive">
    <table class="table w-100">
      <tbody>
        @for (item of itemsFiltered; track $index) {
          <tr>
            <td>
              {{ item.parent?.title }}
            </td>
            <td>
              <a routerLink="{{ rootLink + item.parent?.id }}" fragment="{{ item.id }}">
                {{ item.title }}
              </a>
            </td>
            <td>
              <pre class="d-inline code">{{ getLibraryItemType(item.dependencyType) }}</pre>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</ng-template>
