<div *ngIf="itemId === items.TimeSelectorDatepicker.id">
  <fhi-datepicker
    [date]="date"
    [minDate]="minDate"
    [maxDate]="maxDate"
    (dateSelect)="onDateSelect($event)"
  ></fhi-datepicker>

  <!-- Debugging code (don't delete) -->
  <!-- <br />
  <button type="button" class="btn fhi-btn-link" (click)="updateDate()">Update date</button>
  <button type="button" class="btn fhi-btn-link" (click)="updateMinDate()">Update minDate</button>
  <button type="button" class="btn fhi-btn-link" (click)="updateMaxDate()">Update maxDate</button> -->
</div>

<div *ngIf="itemId === items.TimeSelectorDateRange.id">
  <!-- <fhi-date-range minimumDate="2020-01-01" maximumDate="2023-12-31" (dateRangeSelect)="getDateRange($event)">
  </fhi-date-range> -->

  <!-- <p class="pt-4"><code>{{ selectedDateRange | json }}</code></p> -->
</div>

<div *ngIf="itemId === items.TimeSelectorDateAndTime.id">
  <fhi-date-time
    [dateTime]="dateTime"
    [maxDateTime]="maxDateTime"
    (dateTimeSelect)="onDateTimeSelect($event)"
  ></fhi-date-time>
</div>

<div *ngIf="itemId === items.TimeSelectorWeekpicker.id">
  <fhi-weekpicker
    [week]="week"
    [minWeek]="minWeek"
    [maxWeek]="maxWeek"
    (weekSelect)="onWeekSelect($event)"
  ></fhi-weekpicker>

  <!-- Debugging code (don't delete) -->
  <!-- <br />
  <button type="button" class="btn fhi-btn-link" (click)="updateWeek()">Update week</button>
  <button type="button" class="btn fhi-btn-link" (click)="updateMinWeek()">Update minWeek</button>
  <button type="button" class="btn fhi-btn-link" (click)="updateMaxWeek()">Update maxWeek</button> -->
</div>

<div *ngIf="itemId === items.TimeSelectorWeekRange.id">
  <!-- <fhi-week-range (weekRangeSelect)="onWeekRangeSelect($event)"> </fhi-week-range> -->
</div>

<div *ngIf="itemId === items.TimeSelectorYearMonth.id">
  <fhi-year-month [month]="{ year: 2021, month: 2 }" (monthSelect)="onMonthSelect($event)"></fhi-year-month>
</div>

<div *ngIf="itemId === items.TimeSelectorYearMonthRange.id">
  <fhi-year-month-range (monthRangeSelect)="onMonthRangeSelect($event)"></fhi-year-month-range>
</div>

<div *ngIf="itemId === items.TimeSelectorYears.id">
  <fhi-years [minYear]="2000" [maxYear]="2030" [years]="[2011]" (yearsSelect)="onYearSelect($event)"></fhi-years>
</div>

<div *ngIf="itemId === items.TimeSelectorYearRange.id">
  <fhi-year-range (yearRangeSelect)="onYearRangeSelect($event)"></fhi-year-range>
</div>
