<div *ngIf="itemId === items.TimeSelectorDatepicker.id">
  <fhi-datepicker
    [date]="today"
    [minimumDate]="minDate"
    [maximumDate]="maxDate"
    (dateSelect)="getDate($event)"
  ></fhi-datepicker>
  <!-- <p class="mt-4">
    <code>{{ selectedDate }}</code>
  </p> -->
</div>

<div *ngIf="itemId === items.TimeSelectorDateAndTime.id">
  <fhi-date-and-time
    (dateAndTimeSelect)="getDateAndTime($event)"
  ></fhi-date-and-time>
  <!-- <div class="mt-4">
    <code>{{ selectedDateAndTime }}</code>
  </div> -->
</div>

<div *ngIf="itemId === items.TimeSelectorWeek.id">
  <fhi-weekpicker 
    [id]="'id'"
    [minWeek]="'1910-1'"
    [maxWeek]="'2020-50'"
    (weekSelect)="onWeekSelect($event)">
  </fhi-weekpicker>
  <!-- <p class="mt-4">
    <code>{{ selectedWeek | json }}</code>
  </p>
  <button type="button" class="btn fhi-btn-link"
          (click)="changeWeekInput()">
    Bytt uke
  </button> -->
  <!-- <fhi-weekpicker (weekSelect)="getTheWeek($event)"></fhi-weekpicker>
  <p class="mt-4">
    <code>{{ weekSelected }}</code>
  </p> -->
</div>

<div *ngIf="itemId === items.TimeSelectorWeekRange.id">
  <fhi-week-range (weekRangeSelect)="getWeekRange($event)">
  </fhi-week-range>

  <p class="pt-4"><code>{{ weekRange | json }}</code></p>
</div>

<div *ngIf="itemId === items.TimeSelectorDateRange.id">
  <fhi-date-range
    minimumDate="2020-01-01"
    maximumDate="2023-12-31"
    (dateRangeSelect)="getDateRange($event)">
  </fhi-date-range>

  <!-- <p class="pt-4"><code>{{ selectedDateRange | json }}</code></p> -->
</div>

<div *ngIf="itemId === items.TimeSelectorMonth.id">
  <fhi-month-selector></fhi-month-selector>
</div>

<div *ngIf="itemId === items.TimeSelectorYear.id">
  <fhi-year-selector
    [label]="'Velg år'"
    [year]="'2011'"
    (yearSelect)="onYearSelect($event)"
  >
  </fhi-year-selector>
</div>

<div *ngIf="itemId === items.TimeSelectorYearRange.id">
  <fhi-year-range
    (yearRangeSelect)="yearRangeSelect($event)"
  >
  </fhi-year-range>
</div>
