<ng-container *ngIf="itemId === itemIds.AdvancedSelectAutosuggest">
  <fhi-autosuggest
    [description]="'Velg/søk etter bilmerke'"
    [forId]="'biler-1'"
    [items]="cars"
    [label]="'Biler'"
    [placeholder]="'Søk...'"
    [(selectedItem)]="selectedCar">
  </fhi-autosuggest>
</ng-container>

<ng-container *ngIf="itemId === itemIds.AdvancedSelectMultiselect">
  <fhi-multiselect
    [description]="'Velg/søk etter navn'"
    [forId]="'navn-1'"
    [items]="people"
    [label]="'Navn'"
    [placeholder]="'Søk...'"
    [(selectedItems)]="selectedPeople">
  </fhi-multiselect>
</ng-container>
