<section class="ds-library-items">
  <header class="mb-7" *ngIf="sectionTitle">
    <h1 [attr.lang]="sectionTitleLang === lang_NO ? null : lang_EN">{{ sectionTitle }}</h1>
    <div class="ds-library-items__section-intro" *ngIf="sectionIntro" [innerHtml]="sectionIntro | safe: 'html'"></div>
    <hr />
  </header>

  <app-library-item
    [groupId]="groupId"
    [libraryItem]="libraryItem"
    [isDebugging]="isDebugging"
    *ngFor="let libraryItem of libraryItems"
  >
  </app-library-item>
</section>
