<!-- <a class="nav-link" [routerLink]="'.'" [fragment]="menuItem.link">{{ menuItem.name }}</a> -->

<section class="ds-library-items">
  <header class="mb-7" *ngIf="sectionTitle">
    <h1 class="h2">{{ sectionTitle }}</h1>
    <div class="ds-library-items__section-intro" *ngIf="sectionIntro"
         [innerHtml]="sectionIntro | safe: 'html'">
    </div>
  </header>

  <app-library-item
    [libraryItem]="libraryItem"
    [isDebugging]="isDebugging"
    *ngFor="let libraryItem of libraryItems">
  </app-library-item>
</section>
