<div class="fhi-app" id="top">
  <header class="fhi-header">

    <div class="fhi-header__brand">
      <div class="container fhi-header__brand-container">
        <div class="fhi-header__brand-content">
          <a class="fhi-header__logo" routerLink="/">
            <i class="icon-fhi-logo fhi-header__logo-gfx"></i>
          </a>
          <div class="fhi-header__project">
            <span class="fhi-header__project-name">{{ projectName }}</span>
            <span class="fhi-header__project-description" *ngIf="projectDescription">
              &nbsp;&ndash;&nbsp;{{ projectDescription }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="fhi-header__main-menu">
      <div class="container fhi-header__main-menu-container">
        <app-main-menu [projectName]="projectName"></app-main-menu>
      </div>
    </div>

  </header>

  <main class="fhi-app__main-content">
    <router-outlet></router-outlet>
  </main>

  <div class="ds-scroll-to-top">
    <a [routerLink] [fragment]="'top'">
      <!-- <fa-icon class="ds-scroll-to-top__icon" [icon]="faArrowCircleUp"></fa-icon> -->
    </a>
  </div>

</div>
