<div *ngIf="itemId === itemIds.AngularTreeComponent">
  
  <div class="mb-2">
    <button class="btn fhi-btn-add-tree-node p-0" (click)="open(content)">
      <i class="icon-plus-circle-fill"></i>
      <span class="btn__text">Legg til element</span>
    </button>
  </div>

  <tree-root #tree [nodes]="treeViewNodes" [options]="options">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <div class="tree-column">
        <span>{{ node.data.name }}</span>
        <button class="btn" (click)="open(content)">
          <i class="icon-pencil"></i>
        </button>
        <button class="btn" (click)="open(content)">
          <i class="icon-plus-circle"></i>
        </button>
        <button class="btn" (click)="deleteNode(node.data.id)">
          <i class="icon-trash-can"></i>
        </button>
      </div>
    </ng-template>
  </tree-root>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Redigering av tre</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label class="form-label" for="elmName">Menynavn</label>
          <input class="form-control" type="text" id="elmName" name="elmName" [(ngModel)]="elementName">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn fhi-btn-primary" (click)="saveElement(modal.dismiss())">Save</button>
    </div>
  </ng-template>

</div>
