<div class="container" *ngIf="!isDebugging else debugView">
  <app-library-top-level-menu [menuItems]="topLevelMenuItems"></app-library-top-level-menu>
  <div class="row">
    <div class="col-xl-3 col-xxl-3">
      <app-library-second-level-menu [menuItems]="secondLevelMenuItems"></app-library-second-level-menu>
    </div>
    <div class="col-xl-9 col-xxl-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<ng-template #debugView>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</ng-template>
