@if (dataIsLoaded && !isDebugging) {
  <div class="container">
    <!-- <app-library-top-level-menu [menuItems]="topLevelMenuItems"></app-library-top-level-menu> -->
    <div class="row">
      <div class="col-xl-3">
        <app-library-second-level-menu [menuItems]="secondLevelMenuItems"></app-library-second-level-menu>
      </div>
      <div class="col-xl-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
} @else if (dataIsLoaded) {
  <div class="container" *ngIf="dataIsLoaded">
    <router-outlet></router-outlet>
  </div>
}
