<div class="container">

  <app-library-top-level-menu [menuItems]="topLevelMenuItems"></app-library-top-level-menu>

  <ng-container *ngIf="libraryItemsLoaded else spinner">
    <div class="row">
      <div class="col-md-4 col-lg-3 col-xxl-3">
        <app-library-second-level-menu></app-library-second-level-menu>
      </div>
      <div class="col-md-8 col-lg-9 col-xxl-7">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
</div>


<ng-template #spinner>
  <!-- <app-spinner></app-spinner> -->
</ng-template>
