
// TODO: border-radius is a pain in the but, ask Designers to reconsider 50% as focus-state!

.fhi-datepicker {
    &__input-group {
        min-width: $fhi-px * 155;
        max-width: $fhi-px * 175;

        > .form-control {
            @include fhi-border-transition();
            height: $fhi-input-height-xs;
        }
        > .form-control:focus {
            @include fhi-border-radius-right($input-border-radius);
        }
    }
    &__input-group-prepend {
        @include fhi-border-radius-left($fhi-px * 4);
        @include fhi-border-transition();
        background-color: $white;
        border: 1px solid $fhi-grey-3;
        line-height: 1;

        &:focus {
            box-shadow: none;
        }
    }
    &__btn {
        border-radius: $btn-border-radius;
        box-shadow: none;
        font-size: $fhi-font-size-5;
        height: $fhi-btn-height-sm - ($fhi-px * 2);
        padding: 0 ($fhi-px * 12);

        &:focus {
            box-shadow: none;
        }
        &:hover {
            color: $inline-link-hover-color;
        }
        .ng-fa-icon {
            vertical-align: text-top;
            line-height: 1.2;
        }
    }
    &__form-control,
    &__form-control:focus {
        border: 1px solid $fhi-grey-3;
        box-shadow: none;
        border-left: unset;
        padding-left: unset;
    }
}

.fhi-datepicker--open {
    .fhi-datepicker__input-group {
        > .form-control {
            border-top-right-radius: 0.25rem !important;
            border-bottom-right-radius: 0.25rem !important;
        }
        // > .form-control {
        //     @include fhi-border-radius-right($fhi-input-height-xs / 2);
        // }
    }
    // .fhi-datepicker__input-group-prepend {
    //     @include fhi-border-radius-left($fhi-input-height-xs / 2);
    // }
}

@include media-breakpoint-up(lg) {
    .fhi-datepicker {
        &__input-group {
            min-width: $fhi-px * 145;
            max-width: $fhi-px * 165;

            > .form-control {
                height: $fhi-input-height-lg;
            }
        }
        &__btn {
            height: $fhi-btn-height-lg - ($fhi-px * 2);
        }
    }
    // .fhi-datepicker--open {
    //     .fhi-datepicker__input-group {
    //         > .form-control {
    //             @include fhi-border-radius-right($fhi-input-height-lg / 2);
    //         }
    //     }
    //     .fhi-datepicker__input-group-prepend {
    //         @include fhi-border-radius-left($fhi-input-height-lg / 2);
    //     }
    // }
}
