.fhi-ngb {
    ngb-datepicker,
    ngb-datepicker.dropdown-menu {
        background-color: $white;
        border: 1px solid $fhi-grey-3;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);
        padding-bottom: $fhi-space-2;
        transform: translate(0, ($fhi-input-height-xs + $fhi-space-2)) !important;
    }
    .ngb-dp {
        &-header {
            background-color: $white;
        }
        &-months {
            display: flex;
            padding: 0 $fhi-space-2;
        }
        &-month {
            pointer-events: none;
            &-name {
                background-color: $white;
                font-size: $fhi-font-size-5;
                margin: $fhi-space-3 0 $fhi-space-4;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .fhi-ngb {
        ngb-datepicker,
        ngb-datepicker.dropdown-menu {
            transform: translate(0, ($fhi-input-height-lg + $fhi-space-2)) !important;
        }
        .ngb-dp {
            &-month {
                &-name {
                    font-size: $fhi-font-size-6;
                }
            }
        }
    }
}
