<ng-container *ngIf="itemId === items.Accordion.id">
  <div ngbAccordion>
    @for (item of accordionItems; track item) {
      <article ngbAccordionItem [collapsed]="item !== 'First'">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Element #{{ item }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Innhold element #{{ item }}</ng-template>
          </div>
        </div>
      </article>
    }
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.AccordionFlush.id">
  <div class="accordion-flush" ngbAccordion [closeOthers]="true">
    @for (item of accordionItems; track item) {
      <article ngbAccordionItem [collapsed]="item !== 'First'">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Element #{{ item }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Innhold element #{{ item }}</ng-template>
          </div>
        </div>
      </article>
    }
  </div>
</ng-container>

<ng-container *ngIf="itemId === items.AccordionFlushDark.id">
  <div class="accordion-flush fhi-accordion-flush" ngbAccordion>
    @for (item of accordionItems; track item) {
      <article ngbAccordionItem [collapsed]="item !== 'First'">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Element #{{ item }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Innhold element #{{ item }}</ng-template>
          </div>
        </div>
      </article>
    }
  </div>
</ng-container>
