<div class="fhi-backdrop-responsive" *ngIf="mainMenuIsOpen" (click)="mainMenuClose()"></div>
<nav class="fhi-main-menu" [ngClass]="{'fhi-main-menu--open': mainMenuIsOpen}">
  <div class="container fhi-main-menu__container">

    <a class="fhi-main-menu__home-link" routerLink="/" (click)="mainMenuClose()">
      <img class="fhi-main-menu__home-link-img" alt="FHI-logo"
           src="./assets/fhi-felles/logos/logo-norsk-kun-forkortelse-hvit-uten-luft-rundt.svg">
      <!-- <span class="fhi-main-menu__home-link-text">{{ prosjektnavn }}</span> -->
    </a>

    <button class=" fhi-main-menu__toggler" type="button" aria-controls="fhi-main-menu"
            [attr.aria-expanded]="mainMenuIsOpen" (click)="mainMenuToggle()">
      <fa-icon [icon]="mainMenuIsOpen ? faTimes : faBars" class="fhi-main-menu__toggler-icon"></fa-icon>
      <span class="fhi-main-menu__toggler-text">{{ !mainMenuIsOpen ? 'Meny' : 'Lukk meny' }}</span>
    </button>
    <div [ngbCollapse]="!mainMenuIsOpen" [animation]="false" class="collapse fhi-main-menu__collapse">
      <ul class="nav flex-column flex-xl-row fhi-main-menu__nav">
        <li class="nav-item" *ngFor="let menuItem of mainMenuItems">
          <a class="nav-link fhi-main-menu__nav-link" [routerLink]="menuItem.routerLink" routerLinkActive="active"
            (click)="mainMenuClose()">
            <span class="fhi-main-menu__nav-link-text">{{ menuItem.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
