// @import "~@ng-select/ng-select/themes/default.theme.css";

// TODO: core variable for chevron (accordion, dropdown, fhi-advanced-select, ...?)
$fhi-advanced-select-chevron: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#{$body-color}"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>');


.fhi-advanced-select {

    // TODO: should be part of default form style
    label {
        font-weight: 600;
    }
    p {
        color: $fhi-grey-3; // TODO: need $fhi-[skjemahjelpetekst?]-color in core.variables
        font-size: $fhi-font-size-2;
        margin: 0;
    }
    // /form style

    .ng-select {
        .ng-select-container {
            display: block;
            overflow: unset;

            .ng-value-container {
                height: $fhi-px * 48;

                .ng-input > input,
                .ng-input > input:focus {
                    @extend .form-control;
                    background: none transparent;
                    box-sizing: border-box;
                }

                .ng-placeholder {
                    color:  $fhi-grey-3; // TODO: need $fhi-input-placeholder-color in core.variables and $input-placeholder-color: $fhi-input-placeholder-color
                }
            }
        }

        .ng-clear-wrapper {
            display: none;
        }

        .ng-arrow-wrapper {
            position: absolute;
            top: $fhi-px * 15;
            right: $fhi-px * 12;
            z-index: 2;
            line-height: $fhi-px * 16;

            .ng-arrow {
                height: $fhi-px * 16;
                width: $fhi-px * 16;
                line-height: inherit;

                // TODO: mixing ?
                background-image: escape-svg($fhi-advanced-select-chevron);
                background-repeat: no-repeat;
                background-size: $fhi-px * 16;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .ng-select-opened {
        .ng-arrow-wrapper {
            .ng-arrow {
                transform: rotate(-180deg);
            }
        }
    }

    .ng-dropdown-panel {
        background-color: $fhi-white;
        border: 1px solid $fhi-grey-3;
        border-radius: $fhi-px * 4; // TODO: lage core.variables for standard border radius
        box-shadow: 0 3px 6px rgba($fhi-grey-4, .16); // TODO: lage core.variables for de fire tilatte drop-shadows
        margin: $fhi-space-2 0 $fhi-space-2;

        &.ng-select-top {
            bottom: 100%;
        }

        &.ng-select-bottom {
            top: 100%;
        }

        .ng-dropdown-panel-items {
            max-height: $fhi-px * 480;

            .ng-option {
                &.ng-option-marked,
                &:hover {
                    background-color: $fhi-hover; // TODO: add postfix -color core.variables
                }

                &:first-child {
                    margin-top: $fhi-space-2;
                }

                &:last-child {
                    margin-bottom: $fhi-space-2;
                }
            }
        }
    }
}

// autosuggest

.fhi-advanced-select--autosuggest {
    .ng-select {
        .ng-select-container {
            .ng-value-container {
                .ng-value,
                .ng-placeholder {
                    padding: $fhi-space-2 .75rem; // TODO: dependeant on default .form-control padding
                }
            }
        }

        .ng-select-container.ng-has-value {
            .ng-placeholder {
                display: none;
            }
        }
    }

    .ng-dropdown-panel-items {
        .ng-option {
            padding: $fhi-space-2;
        }
    }
}

// multiselect

.fhi-advanced-select--multiselect {
    .ng-select {
        .ng-select-container {
            .ng-value-container {
                .ng-input {
                    margin: $fhi-px * -4;
                    padding: $fhi-px * 4;
                }

                .ng-placeholder {
                    top: $fhi-space-2; // TODO: dependeant on default .form-control padding + border
                    left: .75rem; // TODO: dependeant on default .form-control padding
                }
            }
        }
    }

    .ng-dropdown-panel-items {
        .ng-option {
            padding: $fhi-space-2;

            .form-check-input {
                margin-top: $fhi-px * 3;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .fhi-advanced-select {
        .ng-select {
            .ng-select-container {
                .ng-value-container {
                    height: $fhi-px * 40;
                }
            }

            .ng-arrow-wrapper {
                top: $fhi-px * 11;
            }
        }
    }

    .fhi-advanced-select--multiselect {
        .ng-dropdown-panel-items {
            .ng-option {
                height: $fhi-px * 44;

                .form-check-input {
                    margin-top: $fhi-px * 2;
                }
            }
        }
    }
}
