.fhi-popover-menu-trigger {
    background-color: $fhi-core-white;
    border-radius: 50%;
    height: $fhi-core-px * 44;
    padding: 0;
    position: relative;
    width: $fhi-core-px * 44;

    [class*="icon-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
