<div class="d-flex flex-column flex-lg-row mb-4 mb-lg-0">
  <div class="d-inline-block mb-3 mr-3">
    <a class="btn btn-sm fhi-btn-shortcut" [routerLink]="link">
      <!-- <fa-icon [icon]="faLongArrowRight" class="fhi-btn-shortcut__icon"></fa-icon> -->
      <span class="fhi-btn-shortcut__text">Snarvei</span>
    </a>
  </div>
  <div class="d-inline-block mb-3 mr-3">
    <a class="btn btn-md fhi-btn-shortcut" [routerLink]="link">
      <!-- <fa-icon [icon]="faLongArrowRight" class="fhi-btn-shortcut__icon"></fa-icon> -->
      <span class="fhi-btn-shortcut__text">{{ text }}</span>
    </a>
  </div>
  <div class="d-inline-block">
    <a class="btn btn-lg fhi-btn-shortcut" [routerLink]="link">
      <!-- <fa-icon [icon]="faLongArrowRight" class="fhi-btn-shortcut__icon"></fa-icon> -->
      <span class="fhi-btn-shortcut__text">{{ text }}</span>
    </a>
  </div>
</div>
<div class="d-flex flex-column flex-lg-row">
  <a class="btn fhi-btn-shortcut" [routerLink]="link">
    <!-- <fa-icon [icon]="faLongArrowRight" class="fhi-btn-shortcut__icon"></fa-icon> -->
    <span class="fhi-btn-shortcut__text">{{ text }}</span>
  </a>
</div>
