.fhi-popover-menu {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        padding: $fhi-core-space-1 $fhi-core-space-3;
    }

    .popover-body {
        padding: 0;
    }

    .popover-arrow {
        display: none;
    }
}

.fhi-popover-menu-trigger {
    background-color: $fhi-core-white;
    border-radius: 50%;
    height: $fhi-core-px * 44;
    padding: 0;
    position: relative;
    width: $fhi-core-px * 44;

    [class*="icon-"] {
        position: absolute;
        left: 50%;
        margin: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
