<div>
    <div class="form-check form-switch mb-2">
        <input class="form-check-input visually-hidden" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">
            Skru på/av denne bryteren
        </label>
    </div>

    <div class="form-check form-switch mb-2">
        <input class="form-check-input visually-hidden" type="checkbox" id="flexSwitchCheckChecked2" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked2">
            Skru av/på denne bryteren
        </label>
    </div>
</div>
