.fhi-multiselect {
    .ng-select {
        .ng-select-container {
            .ng-value-container {
                .ng-input {
                    margin: $fhi-core-px * -4;
                    padding: $fhi-core-px * 4;
                }

                .ng-placeholder {
                    top: $fhi-core-space-2; // OBS! Is dependeant on default .form-control padding + border
                    left: 0.75rem; // OBS! Is dependeant on default .form-control padding
                }
            }
        }
    }

    .ng-select.ng-select-multiple {
        .ng-select-container {
            .ng-value-container {
                .ng-placeholder {
                    z-index: 3;
                }
            }
        }
    }

    .ng-dropdown-panel-items {
        .ng-option {
            padding: $fhi-core-space-2;
        }
    }
}

@include media-breakpoint-up(lg) {
    .fhi-multiselect {
        .ng-select {
            .ng-select-container {
                .ng-value-container {
                    height: $fhi-core-px * 40;
                }
            }
        }
    }
}
