.fhi-autosuggest {
    .ng-select {
        .ng-select-container {
            .ng-value-container {
                .ng-value,
                .ng-placeholder {
                    padding: $fhi-core-space-2 0.75rem; // OBS! Is dependeant on default .form-control padding
                    z-index: 1;
                }
            }
        }

        .ng-select-container.ng-has-value {
            .ng-placeholder {
                display: none;
            }
        }
    }

    .ng-dropdown-panel-items {
        .ng-option {
            padding: $fhi-core-space-2;
        }
    }
}
