<div class="position-relative">
  <header class="fhi-app__header">
    <div class="fhi-app__brand">
      <div class="container fhi-app__brand-container">
        <div class="fhi-app__brand-content">
          <a
            routerlink="/"
            class="fhi-app__logo"
            ng-reflect-router-link="/"
            href="/"
            ><img
              src="./assets/fhi-common/logos/logo-norsk-kun-forkortelse-svart-uten-luft-rundt.svg"
              alt="FHI-logo"
          /></a>
          <div class="fhi-app__project">
            <span class="fhi-app__project-name">Designsystem</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fhi-app__main-menu">
      <div class="container fhi-app__main-menu-container">
          <nav class="fhi-main-menu" ng-reflect-ng-class="[object Object]">
            <div class="container fhi-main-menu__container">
              <a
                routerlink="/"
                class="fhi-main-menu__home-link"
                ng-reflect-router-link="/"
                href="/"
                ><img
                  alt="FHI-logo"
                  src="./assets/fhi-common/logos/logo-norsk-kun-forkortelse-hvit-uten-luft-rundt.svg"
                  class="fhi-main-menu__home-link-img" /></a
              ><button
                type="button"
                aria-controls="fhi-main-menu"
                class="fhi-main-menu__toggler"
                aria-expanded="false"
              >
                  <svg
                    role="img"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="bars"
                    class="svg-inline--fa fa-bars fa-w-14"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      fill="currentColor"
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                    ></path></svg>
                    <span class="fhi-main-menu__toggler-text">Meny</span>
              </button>
              <div
                class="collapse fhi-main-menu__collapse"
                ng-reflect-collapsed="true"
                ng-reflect-animation="false"
              >
                <ul class="nav nav-tabs fhi-nav-tabs fhi-main-menu__nav">
                  <li class="nav-item">
                    <a
                      routerlinkactive="active"
                      class="nav-link fhi-main-menu__nav-link active"
                      ng-reflect-router-link-active="active"
                      ng-reflect-router-link="/developer"
                      href="/developer"
                    >
                      For utviklere
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      routerlinkactive="active"
                      class="nav-link fhi-main-menu__nav-link"
                      ng-reflect-router-link-active="active"
                      ng-reflect-router-link="/designer"
                      href="/designer"
                    >
                      For designere
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
    </div>
  </header>
</div>
