<div *ngIf="itemId === itemIds.TreeViewBuilder">
  <div class="mb-2">
    <button class="btn fhi-btn-add-tree-node p-0">
      <i class="icon-plus-circle-fill"></i>
      <span class="btn__text">Legg til element</span>
    </button>
  </div>

  <tree-root [nodes]="treeViewSimpleNodes" [options]="options">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <div class="tree-column">
        <span>{{ node.data.name }}</span>
        <button class="btn">
          <i class="icon-pencil"></i>
        </button>
        <button class="btn">
          <i class="icon-plus-circle"></i>
        </button>
        <button class="btn">
          <i class="icon-trash-can"></i>
        </button>
      </div>
    </ng-template>
  </tree-root>
</div>
