@mixin fhi-backdrop {
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
}
.fhi-backdrop-default {
    @include fhi-backdrop;
}
.fhi-backdrop-responsive {
    @include fhi-backdrop;
}

@include media-breakpoint-up(xl) {
    .fhi-backdrop-responsive {
        display: none;
    }
}
