/**
 * Colors
 *
 * FHI-uility-klasser for farger
 */

.fhi-text {
    &-ancillary,
    &-placeholder {
        color: $fhi-text-ancillary;
        &-inverse {
            color: $fhi-text-ancillary-inverse;
        }
    }
    &-disabled {
        color: $disabled-color;
        &-inverse {
            color: $fhi-disabled-color-inverse;
        }
    }
    &-error {
        color: $danger;
        &-inverse {
            color: $fhi-text-error-inverse;
        }
    }
}
