/**
 * Colors
 *
 * Lager tydelig fokusmarkering ved bruk av keyboard
 * Fjerner kun default fokusmarkering hvis what-input starter som forventet
 * Fjerner outline fokusmarkering ved bruk av musepeker
 */

[data-whatintent="mouse"],
[data-whatintent="touch"] {
    *:focus {
        outline: none !important;
    }
    *:not(.btn):focus {
        box-shadow: none !important;
    }
}
[data-whatintent="keyboard"] {
    *:focus {
        outline: solid 5px $fhi-red-1 !important;
        border-color: transparent !important;
    }
}
