/**
 * Spacing and spacers
 *
 * Variabler uten fhi-prefiks er Bootstrap-variabler
 */

// Utility for å konvertere 1px til rem
$fhi-px: 1rem/16;

// Spacing
$fhi-space-1: $fhi-px *  4; // xxs
$fhi-space-2: $fhi-px *  8; // xs
$fhi-space-3: $fhi-px * 16; // sm
$fhi-space-4: $fhi-px * 24; // md
$fhi-space-5: $fhi-px * 32; // lg
$fhi-space-6: $fhi-px * 40; // xl
$fhi-space-7: $fhi-px * 56; // xxl

// Spacers (brukes bla. i klassene m-1/p-1, m-2/p-1 osv)
$spacers: (
    0: 0,
    1: $fhi-space-1,
    2: $fhi-space-2,
    3: $fhi-space-3,
    4: $fhi-space-4,
    5: $fhi-space-5,
    6: $fhi-space-6,
    7: $fhi-space-7
);


/**
 * Margint/padding (aka. spacers) and height/widht
 *
 * Det oppstår noen tilfeller der en ikke kommer unna at markup i komponenter
 * har tette koblinger hva grafisk layout angår, altså at f.eks høyden på et
 * element i en komponent avgjør hvor mye topmarg det skal være på et element
 * i en annen komponent.
 *
 * Variablene under er et forsøkt på å tydeliggjøre disse koblingene.
 */

// app og main-menu
$fhi-brand-padding-top-xs: $fhi-space-6;
$fhi-brand-padding-bottom-xs: $fhi-space-3;

$fhi-brand-padding-top-xl: $fhi-space-7;
$fhi-brand-padding-bottom-xl: $fhi-space-4;

$fhi-brand-container-height: $fhi-px * 32;

$fhi-brand-height-xs: $fhi-brand-padding-top-xs
                      + $fhi-brand-container-height
                      + $fhi-brand-padding-bottom-xs;

// datepicer
$fhi-daypicker-day-height-and-width: $fhi-px * 40; // Alltid kvadratisk
