/**
 * Knapper
 *
 * Variabler uten fhi-prefiks er Bootstrap-variabler
 */

$btn-font-family:            $fhi-font-family-sans-serif-medium;
$fhi-btn-font-family-bold:   $fhi-font-family-sans-serif-medium;
$btn-font-size:              $fhi-font-size-2;

// sm er button-størrelse
$btn-border-radius:    $fhi-px * 4;
$btn-border-radius-sm: $btn-border-radius;

// sm og xl er Boostrap-breakpoints
$fhi-btn-height-sm: $fhi-px * 48;
$fhi-btn-height-lg: $fhi-px * 40;

$fhi-btn-padding-tb-sm: $fhi-px * 14;
$fhi-btn-padding-tb-lg: $fhi-px * 10;
$fhi-btn-padding-lr-sm: $fhi-px * 12;
$fhi-btn-padding-lr-lg: $fhi-px * 12;

// sm og lg er Boostrap-knappestørrelser
$fhi-btn-sm-width: $fhi-px * 120;
$fhi-btn-md-width: $fhi-px * 170;
$fhi-btn-lg-width: $fhi-px * 280;
