/**
 * Skjema
 *
 * Variabler uten fhi-prefiks er Bootstrap-variabler
 */

$input-border-radius: $fhi-px * 4;

$form-feedback-invalid-color: $fhi-pink-dark-3;
$form-feedback-font-size:     $fhi-font-size-2;

$fhi-input-height-xs: $fhi-px * 48;
$fhi-input-height-lg: $fhi-px * 40;
