/**
 * Fargepalett
 */
// Lyse gråtoner
$fhi-grey-light-1: #fbfbfb;
$fhi-grey-light-2: #f7f6f5;
$fhi-grey-light-3: #f0edeb;
$fhi-grey-light-4: #e0dddb;

// Gråtoner
$fhi-grey-1: #cfd0cb;
$fhi-grey-2: #9f9f9f;
$fhi-grey-3: #767676;
$fhi-grey-4: #222222;

// Charcoal
$fhi-charcoal-1: #333841;

// Blågrått
$fhi-blue-grey-1: #f5f8fb;
$fhi-blue-grey-2: #dbe6ec;
$fhi-blue-grey-3: #cbd9df;
$fhi-blue-grey-4: #afc0c7;
$fhi-blue-grey-5: #879ba5;
$fhi-blue-grey-6: #435c68;

// Lyseblått
$fhi-blue-light-1: #65adc3;
$fhi-blue-light-2: #057e9a;

// Blått
$fhi-blue-1: #386e84;

// Mørkeblått
$fhi-blue-dark-1: #393c61;
$fhi-blue-dark-2: #2e3152;
$fhi-blue-dark-3: #181B40;

// Grønt
$fhi-green-1: #cceee4;
$fhi-green-2: #04ab79;

// Gult
$fhi-yellow-1: #fffdce;

// Oransje
$fhi-orange-1: #feeed9;
$fhi-orange-2: #f7b665;

// Rødt
$fhi-red-1: #fd7065;
$fhi-red-2: #d14641;
$fhi-red-3: #9f2b26;

// Mørk rosa
$fhi-pink-dark-1: #ff859d;
$fhi-pink-dark-2: #e22867;
$fhi-pink-dark-3: #b10640;

// Lys rosa
$fhi-pink-light-1: #fdf4f2;
$fhi-pink-light-2: #faedec;
$fhi-pink-light-3: #ffe3e2;
