.fhi-spinner-border {
    border-width: .4rem;
    border-color: $fhi-blue-light-2;
    border-right-color: transparent;
    height: 3rem;
    width: 3rem;
    position: absolute;

    &--fhi-form {
        top: 2.5rem;
        left: calc(50% - 24px);
    }
}
