<div class="col-md-8 col-lg-6" *ngIf="itemId === itemIds.TreeViewCheckbox">
  <fhi-tree-view-selection [enableCheckAll]="true" [items]="itemsCheck" (itemsChange)="onItemsChangeCheck($event)">
  </fhi-tree-view-selection>
</div>
<!-- <pre>
  {{ itemsCheck | json }}
</pre> -->

<div class="col-md-8 col-lg-6" *ngIf="itemId === itemIds.TreeViewRadio">
  <fhi-tree-view-selection
    [singleSelection]="true"
    [name]="'radio'"
    [items]="itemsRadio"
    (itemsChange)="onItemsChangeRadio($event)"
  >
  </fhi-tree-view-selection>
</div>
<!-- <pre>
  {{ itemsRadio | json }}
</pre> -->
