<div [ngSwitch]="itemId">

  <app-accordion-example
    *ngSwitchCase="itemIds.Accordion"
    [itemId]="itemIds.Accordion"
    [itemIds]="itemIds">
  </app-accordion-example>
  <app-accordion-example
    *ngSwitchCase="itemIds.AccordionFlush"
    [itemId]="itemIds.AccordionFlush"
    [itemIds]="itemIds">
  </app-accordion-example>
  <app-accordion-example
    *ngSwitchCase="itemIds.FhiAccordionFlush"
    [itemId]="itemIds.FhiAccordionFlush"
    [itemIds]="itemIds">
  </app-accordion-example>

  <app-advanced-select-example
    *ngSwitchCase="itemIds.AdvancedSelectAutosuggest"
    [itemId]="itemIds.AdvancedSelectAutosuggest"
    [itemIds]="itemIds">
  </app-advanced-select-example>
  <app-advanced-select-example
    *ngSwitchCase="itemIds.AdvancedSelectMultiselect"
    [itemId]="itemIds.AdvancedSelectMultiselect"
    [itemIds]="itemIds">
  </app-advanced-select-example>

  <app-pagination-example
    *ngSwitchCase="itemIds.Pagination"
    [itemId]="itemIds.Pagination"
    [itemIds]="itemIds">
  </app-pagination-example>
  <app-pagination-example
    *ngSwitchCase="itemIds.PaginationCollectionCounter"
    [itemId]="itemIds.PaginationCollectionCounter"
    [itemIds]="itemIds">
  </app-pagination-example>

  <app-alert-dismissible-example *ngSwitchCase="itemIds.AlertDismissible"></app-alert-dismissible-example>
  <app-layout-expandable-first-col-example *ngSwitchCase="itemIds.LayoutTemplateExpandableFirstCol"></app-layout-expandable-first-col-example>
  <app-modal-example *ngSwitchCase="itemIds.Modal"></app-modal-example>

  <app-date-and-time-example
    *ngSwitchCase="itemIds.DateRange"
    [itemId]="itemIds.DateRange"
    [itemIds]="itemIds">
  </app-date-and-time-example>
  <app-date-and-time-example
    *ngSwitchCase="itemIds.YearSelection"
    [itemId]="itemIds.YearSelection"
    [itemIds]="itemIds">
  </app-date-and-time-example>
  <app-date-and-time-example
    *ngSwitchCase="itemIds.WeekSelection"
    [itemId]="itemIds.WeekSelection"
    [itemIds]="itemIds">
  </app-date-and-time-example>

  <app-datepicker *ngSwitchCase="itemIds.DatePicker"></app-datepicker>

  <app-table-examples
    *ngSwitchCase="itemIds.TableSortable"
    [itemId]="itemIds.TableSortable"
    [itemIds]="itemIds">
  </app-table-examples>
  <app-table-examples
    *ngSwitchCase="itemIds.TableSelectableRow"
    [itemId]="itemIds.TableSelectableRow"
    [itemIds]="itemIds">
  </app-table-examples>
  <app-table-examples
    *ngSwitchCase="itemIds.TableEditable"
    [itemId]="itemIds.TableEditable"
    [itemIds]="itemIds">
  </app-table-examples>

  <app-tabs-example
    *ngSwitchCase="itemIds.Tabs"
    [itemId]="itemIds.Tabs"
    [itemIds]="itemIds">
  </app-tabs-example>
  <app-tabs-example
    *ngSwitchCase="itemIds.TabsAlternative"
    [itemId]="itemIds.TabsAlternative"
    [itemIds]="itemIds">
  </app-tabs-example>

  <app-tag-example *ngSwitchCase="itemIds.TagFilterOption"></app-tag-example>
  <app-toast-example *ngSwitchCase="itemIds.Toast"></app-toast-example>
  <app-tooltip-example *ngSwitchCase="itemIds.Tooltip"></app-tooltip-example>

  <app-tree-view-example
    *ngSwitchCase="itemIds.TreeView"
    [itemId]="itemIds.TreeView"
    [itemIds]="itemIds"></app-tree-view-example>
  <app-tree-view-example
    *ngSwitchCase="itemIds.TreeViewNavigation"
    [itemId]="itemIds.TreeViewNavigation"
    [itemIds]="itemIds"></app-tree-view-example>
  <app-tree-view-example
    *ngSwitchCase="itemIds.TreeViewBuilder"
    [itemId]="itemIds.TreeViewBuilder"
    [itemIds]="itemIds"></app-tree-view-example>
  <app-tree-view-example
    *ngSwitchCase="itemIds.TreeViewCheckbox"
    [itemId]="itemIds.TreeViewCheckbox"
    [itemIds]="itemIds"></app-tree-view-example>

  <app-search-example *ngSwitchCase="itemIds.Search"></app-search-example>

  <app-global-header-with-menu *ngSwitchCase="itemIds.GlobalHeaderWithMenu"></app-global-header-with-menu>

  <!-- Prototypes -->
  <app-prototype-form *ngSwitchCase="itemIds.PrototypeForm"></app-prototype-form>
  <app-prototype-pageheader *ngSwitchCase="itemIds.PrototypePageheader"></app-prototype-pageheader>
  <app-prototype-table-with-expandable-content *ngSwitchCase="itemIds.PrototypeTableWithExpandableContent"></app-prototype-table-with-expandable-content>

  <div *ngSwitchDefault>No component matches given id...</div>

</div>
