.fhi-diagram-controls {
    container-name: diagramControls;
    container-type: inline-size;
    position: relative;
    z-index: 1;

    &__navigation,
    &__metadata {
        margin-right: $fhi-core-space-3;
        margin-bottom: $fhi-core-space-3;
    }
}

@container diagramControls (max-width: #{$fhi-core-px * 334}) {
    .fhi-diagram-controls {
        .fhi-btn-group {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &__btn {
                width: 100%;
            }

            &__split-btn {
                min-width: $fhi-core-px * 99;
            }
        }

        .dropdown-menu {
            left: calc(#{$fhi-core-px} * -97) !important;
        }
    }
}

@container diagramControls (max-width: #{$fhi-core-px * 449}) {
    .fhi-diagram-controls {
        .btn {
            font-size: $fhi-core-font-size-2;
        }
        .fhi-btn-group {
            &__btn {
                padding-left: $fhi-core-px * 13;
                padding-right: $fhi-core-px * 13;
            }
        }
    }
}
