.fhi-highcharts-table {
    &__cell {
        text-align: end;
    }

    &__cell--col-header {
        border: 1px solid $white;
        text-align: center;
    }

    &__cell--row-header {
        text-align: start;
    }
}
