$map-container-aspect-landscape: calc(100% / 3 * 2);

.fhi-highcharts-map-container {
    position: relative;
    height: 0;
    min-height: 400px;
    padding-bottom: 100%;
    width: 100%;
}

.fhi-highcharts-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (orientation: landscape) {
    .fhi-highcharts-map-container {
        padding-bottom: $map-container-aspect-landscape;
    }
}

@include media-breakpoint-up(sm) {
    .fhi-highcharts-map-container {
        .modal-fullscreen & {
            padding-bottom: 60vh;
        }
    }
}
