$golden-ratio: 1.618;
$golden-ratio-conjugate: 0.618;
$square: 1;

.fhi-highcharts-table {
    tbody th {
        white-space: nowrap;
    }
}

.fhi-highcharts-chart {
    width: 100%;
    max-width: 1500px;
    container-type: inline-size;

    highcharts-chart {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 90vh;
        aspect-ratio: $square;
    }
    &--map {
        highcharts-chart {
            aspect-ratio: $golden-ratio-conjugate;
        }
    }
}

.fhi-highcharts-chart--map {
    max-width: 1100px;
}

@container (width > 350px) {
    .fhi-highcharts-chart--map {
        highcharts-chart {
            aspect-ratio: $square;
        }
    }
}

@container (width > 650px) {
    .fhi-highcharts-chart {
        highcharts-chart {
            aspect-ratio: $golden-ratio;
        }
    }
}

.fhi-diagram--fullscreen {
    position: fixed;
    inset: 0;
    z-index: 1050;
    background: #fff;
    overflow: auto;
    box-sizing: border-box;
    padding: 2rem;
    padding-bottom: 88px;
}

.fhi-diagram--fullscreen h1 {
    padding-right: 40px;
}

.fhi-diagram--fullscreen h1.h3 {
    font-size: 2.25rem;
    padding-bottom: 2.9rem;
}

.fhi-diagram--fullscreen .fhi-diagram-fullscreen__close {
    position: fixed;
    top: 16px;
    right: 16px;
    left: auto;
    z-index: 1060;
}

.fhi-diagram--fullscreen .fhi-diagram-fullscreen__close-bottom {
    position: fixed;
    right: 16px;
    bottom: 16px;
    left: auto;
    z-index: 1060;
}

@media (max-width: 600px) {
    .fhi-diagram--fullscreen {
        padding: 12px;
        padding-bottom: 96px;
    }

    .fhi-diagram--fullscreen .fhi-diagram-fullscreen__close {
        top: 12px;
        right: 12px;
    }

    .fhi-diagram--fullscreen .fhi-diagram-fullscreen__close-bottom {
        left: 12px;
        right: 12px;
        bottom: 12px;
    }
}
