.fhi-highcharts-nav {
    container-name: highcharts-nav;
    container-type: inline-size;
    flex-grow: 1;
    position: relative;
    z-index: 1;

    &__standalone-btn {
        container-name: highcharts-nav__standalone-btns;
        container-type: inline-size;
    }

    &__meta-btn--push-end {
        margin-right: $fhi-core-space-3;
    }
}

// < 360px
@container highcharts-nav (width < 22.5rem) {
    .fhi-highcharts-nav {
        .fhi-btn-group {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            > .btn {
                width: 100%;
            }
        }

        &__standalone-btns {
            text-align: right;
        }

        &__meta-btn {
            display: block;

            &--push-end {
                margin-right: 0;
            }
        }
    }
}

@container highcharts-nav (width < 322px) {
    .fhi-highcharts-nav {
        &__meta-btn {
            display: inline;

            &--push-end {
                margin-right: $fhi-core-space-3;
            }
        }
    }
}
