<div class="ds-left-menu">
  <ng-container *ngIf="categories.length > 1; else allExamples">
    <ul ngbNav #exampleNav="ngbNav" [(activeId)]="activeNavTab" [animation]="false" class="nav-pills mb-6">
      <li [ngbNavItem]="0">
        <a ngbNavLink>All</a>
        <ng-template ngbNavContent>
          <ng-container *ngTemplateOutlet="allExamples"></ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]="1">
        <a ngbNavLink>Categories</a>
        <ng-template ngbNavContent>
          <ng-container *ngTemplateOutlet="examplesByCategory"></ng-container>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="exampleNav"></div>
  </ng-container>
</div>


<ng-template #allExamples>
  <div class="mb-3">
    <input class="form-control form-control-lg" type="text" [(ngModel)]="libraryExampleFilter.title" placeholder="Search" autofocus>
    <p class="p-3" *ngIf="(menuItems | filterBy: libraryExampleFilter).length === 0">
      Søket gir ingen treff <br><br>
    </p>
  </div>
  <ul class="nav flex-column d-inline-block mb-7 pb-2">
    <li class="nav-item" *ngFor="let menuItem of menuItems | filterBy: libraryExampleFilter">
      <a class="nav-link" [routerLink]="'.'" [fragment]="menuItem.id">{{ menuItem.title }}</a>
    </li>
  </ul>
</ng-template>

<ng-template #examplesByCategory>
  <ul class="list-group mb-7">
    <li class="list-group-item" *ngFor="let category of categories">
      <p>{{ category.categoryName }}</p>
      <ul class="nav flex-column d-inline-block">
        <li class="nav-item" *ngFor="let menuItem of category.items">
          <a class="nav-link" [routerLink]="'.'" [fragment]="menuItem.id">{{ menuItem.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

