$date-picker-width: $fhi-core-px * 140;

@import "../fhi-time-selectors/fhi-date-and-time.component";
@import "../fhi-time-selectors/fhi-week-selector.component";
@import "../fhi-time-selectors/fhi-year-range.component";
@import "../fhi-time-selectors/fhi-year-selector.component";
