<div class="container" *ngIf="itemId === items.PrototypeTableWithExpandableContent.id">
  <fhi-table [tableConfig]="demoTableConfig">
    <ng-container *ngFor="let row of demoTableContent; index as i">
      <tr fhi-table-row-expander [index]="i">
        <ng-container *ngTemplateOutlet="rowExpander; context: { row: row }"></ng-container>
      </tr>
      <tr fhi-table-row-expandable [index]="i" [colspan]="5">
        <ng-container *ngTemplateOutlet="rowExpandable; context: { content: row.expandableContent }"> </ng-container>
      </tr>
    </ng-container>
  </fhi-table>

  <ng-template #rowExpander let-row="row">
    <td>{{ row.id }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.area }}</td>
    <td>{{ row.population }}</td>
  </ng-template>

  <ng-template #rowExpandable let-content="content">
    <div class="fhi-nav-tabs">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [animation]="false">
        <li ngbNavItem *ngFor="let tab of content">
          <a ngbNavLink>{{ tab.name }}</a>
          <ng-template ngbNavContent>
            <div class="p-3 w-100">
              <p>
                {{ tab.content }}
              </p>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </ng-template>

  <div class="alert alert-warning my-7">
    <i class="icon-bell"></i>
    <div>
      <h2 class="h5">Disclaimer!</h2>
      <p>Dette viser hvordan man kan sette opp en tabell hvor man har ekspanderbart innhold pr. rad.</p>
      <p class="mb-0">
        Dette er en del av
        <a
          href="https://github.com/folkehelseinstituttet/Fhi.Frontend.Demo/tree/dev/projects/fhi-angular-components/src/lib"
          >FHI Angular Components</a
        >
        som er under utvikling og brukes på eget ansvar.
      </p>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="fhi-btn-expand-table-container"></th>
          <th scope="col">Varselkode</th>
          <th scope="col"><span class="text-nowrap">Første hendelse</span></th>
          <th scope="col"><span class="text-nowrap">Siste hendelse</span></th>
          <th scope="col">Antall hendelser</th>
          <th scope="col">Varsel</th>
          <th scope="col">Konsekvens</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let tableRow of tableData.tableContent; index as i">
          <tr [ngClass]="{ 'fhi-tablerow-expanded': tableRow.expanded }">
            <th class="fhi-btn-expand-table-container">
              <button
                class="btn fhi-btn-expand-table"
                type="button"
                id="item_{{ i }}"
                attr.aria-controls="expanded_{{ i }}"
                [attr.aria-expanded]="tableRow.expanded ? 'true' : 'false'"
                (click)="tableRow.expanded = !tableRow.expanded"
              >
                <i [ngClass]="tableRow.expanded ? 'icon-chevron-up' : 'icon-chevron-down'"></i>
                <span class="visually-hidden">Utvidet informasjon om {{ tableRow.meldingsId }} (i ny rad)</span>
              </button>
            </th>
            <td class="align-middle">{{ tableRow.varselkode }}</td>
            <td class="align-middle">
              <span>{{ tableRow.forsteHendelseTidspunkt | date: 'shortDate' }}</span
              ><br />
              <span>{{ tableRow.forsteHendelseTidspunkt | date: 'shortTime' }}</span>
            </td>
            <td class="align-middle">
              <span>{{ tableRow.sisteHendelseTidspunkt | date: 'shortDate' }}</span
              ><br />
              <span>{{ tableRow.sisteHendelseTidspunkt | date: 'shortTime' }}</span>
            </td>
            <td class="align-middle">{{ tableRow.antallHendelser }}</td>
            <td class="align-middle">
              <strong>{{ tableRow.varseltype }}</strong
              ><br />
              <span *ngIf="tableRow.hendelser[0].meldingsmottakHendelse">
                Konsesjonsnr: {{ tableRow.hendelser[0].meldingsmottakHendelse.konsesjonsnummer
                }}<span *ngIf="tableRow.hendelser[0].meldingsmottakHendelse.avdelingsnummer"
                  >, Avdnr: {{ tableRow.hendelser[0].meldingsmottakHendelse.avdelingsnummer }}</span
                >
              </span>
              <span *ngIf="tableRow.kilde === 'Vareregister'">{{ tableRow.kilde }}</span>
            </td>
            <td class="align-middle">
              <strong>{{ tableRow.konsekvens }}</strong
              ><br />
              {{ tableRow.kilde }}
            </td>
          </tr>
          <tr
            attr.aria-labelledby="item_{{ i }}"
            id="expanded_{{ i }}"
            [ngClass]="tableRow.expanded ? 'd-table-row' : 'd-none'"
          >
            <td class="pe-0 fhi-tablerow-expanded__additional-content" colspan="7">
              <div
                style="
                  background: url(/assets/tmp-expanded-data.png) no-repeat;
                  background-size: contain;
                  height: 785px;
                "
              ></div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
