@mixin fhi-btn($background-color, $border-color, $color) {
    background-color: $background-color;
    border-color: $border-color;
    box-shadow: none;
    color: $color;
    font-family: $btn-font-family;
    text-decoration: unset;
}

@mixin fhi-btn-hover($background-color, $border-color, $color) {
    @include fhi-btn($background-color, $border-color, $color);
    text-decoration: underline;
}

@mixin fhi-btn-focus($background-color, $border-color, $color) {
    @include fhi-btn($background-color, $background-color, $color);
    box-shadow: 0 0 0 ($fhi-px * 2) $border-color;
    text-decoration: underline;
}

@mixin fhi-btn-keyboard-focus() {
    &:focus {
        background-color: $white;
        border-radius: 0;
        color: $body-color;
    }
}
