<div class="d-flex justify-content-between" style="height: 44px">
  <div class="w-50">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-label="Label"
        [attr.style]="'width: ' + valueNow + '%;'"
        [attr.aria-valuenow]="valueNow"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{ valueNow }}%
      </div>
    </div>
  </div>

  <button type="button" class="btn fhi-btn-secondary" (click)="startProgress()" *ngIf="!inProgress">Restart</button>
</div>
