@import "../Fhi.Frontend.Style/import/all";
@import "src/styles/fhi-frontend-library/_ds-all";

@import "../dist/fhi-angular-components/styles/import/all";
@import "../dist/fhi-angular-highcharts/styles/import/all";
@import "../dist/fhi-angular-treeview-builder/styles/import/all";
