<div *ngIf="itemId === itemIds.YearSelection">
  <div class="fhi-double-select">
    <div class="fhi-double-select__item">
      <fhi-autosuggest
        [labelForId]="'year-from'"
        [items]="yearList"
        [label]="'Fra år'"
        [notFoundText]="'Ikke mulig'"
        [(selectedItem)]="selectedFromYear">
      </fhi-autosuggest>
    </div>

    <div class="fhi-double-select__item">
      <span class="fhi-double-select__dash"></span>
      
      <fhi-autosuggest
        [labelForId]="'year-to'"
        [items]="yearList"
        [label]="'Til år'"
        [notFoundText]="'Ikke mulig'"
        [(selectedItem)]="selectedToYear">
      </fhi-autosuggest>
    </div>
  </div>
</div>


<div *ngIf="itemId === itemIds.WeekSelection">
  <div class="fhi-double-select">
    <div class="fhi-double-select__item">
      <fhi-autosuggest
        [labelForId]="'year'"
        [items]="yearList"
        [label]="'År'"
        [notFoundText]="'Ikke mulig'"
        [(selectedItem)]="selectedYear">
      </fhi-autosuggest>
    </div>

    <div class="fhi-double-select__item">
      <fhi-autosuggest
        [labelForId]="'week'"
        [items]="weekList"
        [label]="'Uke'"
        [notFoundText]="'Ikke mulig'"
        [(selectedItem)]="selectedWeek">
      </fhi-autosuggest>
    </div>
  </div>
</div>
